<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../Estilos-css/movilpc.css">
    <title>PALESTINAHOY</title>
</head>

<body>
    <!-- Menu de navegación superior -->
    <header class="header2">
        <div class="header3">
            <a href="../index.html"> <img src="../imagenes/PALESTINAHOY1.png" width="250" height="70"  class="logopalestina" alt="logo pagina web"></a>
            <a href="../index.html" class="estilosmenu"><span class="contenidopc"> Inicio </span></a>
            <a href="noticias.html" class="estilosmenu"><span class="contenidopc">Últimas Noticias</span></a>
            <a href="galeria.html" class="estilosmenu"><span class="contenidopc"> <strong>Fotos</strong> </span></a>
            <a href="portfolio.html" class="estilosmenu"><span class="contenidopc">Mártires</span></a>
            <a href="presupuesto.html" class="estilosmenu"><span class="contenidopc">Contacto</span></a>
        </div>

        <!-- Boton de inicio de sesion del menu de navegación superior -->
        
        <div class="iniciosesion">
            <a href="Registro.html" class="Registro"> <span class="textbutton"><strong>Iniciar sesión</strong></span></a>
        </div>  
        
    </header>

    <main class="galeria">
        <!-- Añadimos titulo y subtitulo al main -->
        <h1 id="textogaleria"><strong>En fotos</strong></h1>
        <h2 id="texto-galeria">Guerra de Israel contra Gaza</h2>

        <!-- Añadimos texto con el elemento (em) para marcar enfasis en esta parte del texto -->
        <article id="textogaleria1">
            <em id="textoenfasis">
                 Cada día en Gaza, las dos mayores esperanzas son seguir con vida y no recibir noticias de otra pérdida devastadora. 
            </em>
        </article>

        <!-- Añadimos contenedor con texto -->
        <div  id="galeria2">
            <!-- Añadimos texto al contenedor -->
            <p id="textogaleria2">
                La guerra de Israel contra Gaza ha matado a más de 35.000 palestinos, incluidos mujeres y niños, ha destruido hogares y medios de vida y ha desplazado a millones de personas. <br>
                &nbsp; <br>
                Mientras Israel se compromete a continuar su ataque, la ofensiva aérea y terrestre ya es una de las ofensivas militares más devastadoras de la historia reciente. <br>
                &nbsp; <br>
                Las muertes en Gaza representan mas del 1 por ciento de la población del territorio antes de la guerra, sólo la última de una larga lista de estadísticas que hablan del asombroso costo humano del conflicto que ya dura mas de 5 meses. <br>
                &nbsp; <br>
                Los ataques han desplazado a casi el 90 por ciento de los 2,3 millones de habitantes de Gaza, arrasando amplias zonas del pequeño enclave costero. <br>
                &nbsp; <br>
                Más de medio millón de personas mueren de hambre, según un informe de las Naciones Unidas y otras agencias. <br>
                &nbsp; <br>
                Pero estas estadísticas cuentan sólo una parte de la historia; estas imágenes ayudan a mostrar el rostro sombrío de la guerra. <br>
                &nbsp; <br>
            </p>
            <!-- Cerramos contenedor -->
        </div>

        <!-- Añadimos el elemento figure para añadir una imagen junto a figcaption para añadir un texto inferior a la imagen -->
        <figure class="estiloscont">
            <img src="../imagenes/fototr22.jpg" width="880" height="650" alt="niño postrado en el suelo" loading="eager">
            <figcaption class="estilotextogal"> Cerca de la frontera Egipcia, los niños desplazados usan cables eléctricos para jugar con ellos, en medio del apagón total en la Franja de Gaza desde el comienzo de la agresion israelí. <br> A través de Belal Khaled, 20 de febrero de 2024</figcaption>
        </figure>

        <!-- Añadimos el elemento figure para añadir una imagen junto a figcaption para añadir un texto inferior a la imagen -->
        <figure class="estiloscont">
            <img src="../imagenes/fototr16.jpg" width="880" height="850" alt="hombre herido" loading="eager"  >
            <figcaption class="estilotextogal"> Un hombre herido espera al resto de sus familiares, cuyo destino se desconoce tras un bombardeo israelí a su casa en el barrio de Al Sultan, al oeste de Rafah. <br> A través de Belal Khaled, 9 de febrero de 2024</figcaption>
        </figure>

        <!-- Añadimos el elemento figure para añadir una imagen junto a figcaption para añadir un texto inferior a la imagen -->
        <figure class="estiloscont">
            <img src="../imagenes/fotos3tr.jpg" width="800" height="850" alt="Niña palestina con lesiones en el ojo" class="posiciongal" loading="eager"  >
            <figcaption class="estilotextogal" > Amira Elwan, de 5 años, la única superviviente después de perder a todos los miembros de su familia en un bombardeo israelí de su casa en la ciudad de Gaza. <br>
            Vecinos la encontraron mientras buscaban bajo los escombros de su casa mientras estaba en brazos de su madre, quien había muerto mientras protegía a su pequeña hija. <br>
            Amira sufrió fracturas y heridas en la cara, a causa de eso su ojo se vio afectado y causó cicatrices en su cara. <br>
            &nbsp; <br>
            Cuando Amira crezca, recordará lo que le pasó a su familia cada vez que se mire a la cara en el espejo, y será testigo del genocidio llevado a cabo por Israel , con el apoyo de USA, contra su familia. <br>
             A través de Belal Khaled, 4 de febrero de 2024
            </figcaption>
        </figure>

        <!-- Añadimos el elemento figure para añadir una imagen junto a figcaption para añadir un texto inferior a la imagen -->
        <figure class="estiloscont">
            <img src="../imagenes/fototr6.jpg" width="800" height="890" alt="niño llorando"  class="posiciongal" loading="eager"  >
            <figcaption class="estilotextogal"> Un niño llora por el cadáver de su padre, que murió en un bombardeo israelí a su casa en el barrio Al-Amal en Khan Yunis. <br>
                A través de Belal Khaled, 5 de enero de 2024</figcaption>
        </figure>

        <!-- Añadimos el elemento figure para añadir una imagen junto a figcaption para añadir un texto inferior a la imagen -->
        <figure class="estiloscont">
            <img src="../imagenes/fototr15.jpg" width="880" height="900" alt="Una niña abraza a su hermano pequeño" loading="eager"  >
            <figcaption class="estilotextogal"> Una niña abraza a su hermano pequeño el en funeral de su padre, que murió en un bombardeo israelí de su casa a la que huyeron del norte de Gaza en Khan Yunis. <br>
                 A través de Belal Khaled, 5 de enero de 2024</figcaption>
        </figure>

        <!-- Añadimos el elemento figure para añadir una imagen junto a figcaption para añadir un texto inferior a la imagen -->
        <figure class="estiloscont">
            <img src="../imagenes/fototr20.jpg" width="880" height="750" alt="padre sosteniendo la mano de su hijo martirizado" loading="eager">
            <figcaption class="estilotextogal">
                 Un padre fue a comprar galletas para su hijo, y cuando regresó , encontro a su hijo y a su esposa asesinados por misiles israelíes en la casa a la que habían huido en Khan Yunis. <br>
                  A través de Belal Khaled, 28 de diciembre de 2023</figcaption>
        </figure>

        <!-- Añadimos el elemento figure para añadir una imagen junto a figcaption para añadir un texto inferior a la imagen -->
        <figure class="estiloscont">
            <img src="../imagenes/fototr14.jpg" width="880" height="800" alt="Madre abrazando a su hijo" loading="eager"  >
            <figcaption class="estilotextogal"> Una madre abraza por última vez el cuerpo de su hijo, quien fue martirizado en un bombardeo israelí mientras recogía leña para su familia. <br> A través de Belal Khaled, 26 de diciembre de 2023</figcaption>
        </figure>

        <!-- Añadimos el elemento figure para añadir una imagen junto a figcaption para añadir un texto inferior a la imagen -->
        <figure class="estiloscont">
            <img src="../imagenes/fototr11.jpg" width="880" height="800" alt="niño llevando el cuerpo de su hermano pequeño" loading="eager"  >
            <figcaption class="estilotextogal"> Un niño llevando el cuerpo de su hermano pequeño que murió en un bombardeo israelí de su casa en el centro de Khan Yunis. <br> A través de Belal Khaled, 19 de diciembre de 2023</figcaption>
        </figure>

        <!-- Añadimos el elemento figure para añadir una imagen junto a figcaption para añadir un texto inferior a la imagen -->
        <figure class="estiloscont">
            <img src="../imagenes/fotostr5.jpg" width="880" height="650" alt="Mujer cogiendo y besando a su hijo desde fuera de la incubadora" loading="eager"  >
            <figcaption class="estilotextogal"> 
                &nbsp; <br>
                La madre del niño: Azhar Saleh toca a su hija por primera vez desde que nació hace mas de dos meses y 10 días. <br>
                La madre le dio un último beso antes de irse de Gaza, ella "a la fuerza" no podía estar con su bebé, que viajó a Egipto el 20 de noviembre de 2023 para recibir tratamiento sin ningún acompañamiento. <br>
                &nbsp; <br>
                Azhar sobrevivió al asalto de la ocupación israelí en el Hospital Al-shifa cuando irrumpieron en la unidad neonatal y cortaron la electricidad al hospital.
                Azhar, no es la única que fue separada de su familia por la ocupación. Hay docenas de niños sin padre o madre, y las historias no han terminado. <br>
                A través de Belal Khaled, 21 de noviembre de 2023
             </figcaption>
        </figure>

        <!-- Añadimos el elemento figure para añadir una imagen junto a figcaption para añadir un texto inferior a la imagen -->
        <figure class="estiloscont">
            <img src="../imagenes/fototr21.jpg" width="880" height="800" alt="niño herido sonrie a la camara" loading="eager"  >
            <figcaption class="estilotextogal"> Un niño sonríe a la cámara depués de ser herido en un bombardeo israelí de su casa en la ciudad de Khan Yunis. <br> A través de Belal Khaled, 31 de octubre de 2023</figcaption>
        </figure>

        <!-- Añadimos el elemento figure para añadir una imagen junto a figcaption para añadir un texto inferior a la imagen -->
        <figure class="estiloscont">
            <img src="../imagenes/fototr8.jpg" width="880" height="800" alt="Un niño herido abraza a su hermana herida" loading="eager"  >
            <figcaption class="estilotextogal"> Un niño herido abraza a su hermana herida después de que su casa fuera bombardeada en la ciudad de Khan Yunis. <br> A través de Belal Khaled, 26 de octubre de 2023</figcaption>
        </figure>

        <!-- Añadimos el elemento figure para añadir una imagen junto a figcaption para añadir un texto inferior a la imagen -->
        <figure class="estiloscont">
            <img src="../imagenes/fototr17.jpg" width="880" height="800" alt="niño herido mira a su madre herida" loading="eager"  >
            <figcaption class="estilotextogal"> Un niño herido mira a su madre herida tirada en el suelo de la sala de emergencias en el Hospital Al-Shifa en Gaza. <br> A través de Belal Khaled, 23 de octubre de 2023</figcaption>
        </figure>

        <!-- Añadimos el elemento figure para añadir una imagen junto a figcaption para añadir un texto inferior a la imagen -->
        <figure class="estiloscont">
            <img src="../imagenes/fototr7.jpg" width="880" height="650" alt="niño sobre su padre herido" loading="eager"  >
            <figcaption class="estilotextogal"> Un niño pone la cabeza sobre su padre herido dentro de las habitaciones del Hospital Al-Shifa después de sobrevivir a un bombardeo israelí a su casa en el centro de la Franja de Gaza. <br>
                 A través de Belal Khaled, 23 de octubre de 2023 </figcaption>
        </figure>

        <!-- Añadimos el elemento figure para añadir una imagen junto a figcaption para añadir un texto inferior a la imagen -->
        <figure class="estiloscont" id="galfin">
            <img src="../imagenes/fotos2tr-copia.jpg" width="880" height="650" alt="niño postrado en el suelo" loading="eager"  >
            <figcaption class="estilotextogal"> 
                Un niño se postra dando las gracias a dios después de sobrevivir al bombardeo de su casa en la ciudad Khan Yunis. <br> A través de Belal Khaled, 14 de octubre de 2023
            </figcaption>
        </figure>
    </main>
  
      <!-- abrimos footer -->
      <footer class="footer1">
        <!-- Creamos section para nueva seccion y subcontenedor para añadir datos  -->
            <section class="containerfoot">
                <div class="footlogo"> 

                <!-- Añadimos etiqueta a href para insertar logo -->
                    <a href="file:///C:/Users/acer/Desktop/paginaweb/index.html" id="logoposicion">
                        <img src="../imagenes/logoolivo.png" width="100" height="100" alt="logo olivo con bandera palestina" class="logoolivo">
                    </a>

                    <!-- añadimos p para añadir texto -->
                    <p class="estilofoot">
                        © 2024 Red de medios PalestinaHoy
                    </p>
                    
                    <p class="estilofoot">
                        Producida por Rocío Aylen Gimenez Teti
                    </p>

                    <!-- añadimos elemento p mas href para añadir link mediante texto -->
                    <p class="estilofoot">
                            Datos:
                        <a href="https://shireen.ps/" target="_blank" class="datoslinks">
                            Shireen.ps 
                        </a>
                        <a href="https://www.aljazeera.com/tag/israel-palestine-conflict/" target="_blank" class="datoslinks">
                            Aljazeera
                        </a>
                    </p>
                    
                    <!-- añadimos texto y a continuacion añadimos div para añadir en este caso una lista de link mediante imagenes  -->
                    <p class="estilofoot">
                        Publicado: 11 de mayo de 2024 <br> <br>
                        Dirección: Av. Pío XII,2 <br> <br>
                        Contacto: 640576550 <br> <br>
                    </p>

                     <!-- añadimos contenedor para añadir dentro links de logos*/ -->
                    <div>
                        <a href="https://www.instagram.com/palestinahoy1/"><img src="../imagenes/instagram1.jpeg" width="50" height="50" alt="logotipo link instagram" class="logoinst"></a>
                        <a href="https://www.facebook.com/PalestinaHoy/?locale=es_ES"><img src="../imagenes/facebooklogo.png" width="50" height="50" alt="logotipo link facebook" class="logoface"></a>
                        <a href="https://t.me/s/PalestinaHoy"><img src="../imagenes/telegram.png" width="53" height="50" alt="logotipo link telegram" class="logotel"></a>
                    </div>
                    
                    
                    <!-- añadimos etiqueta span y href para añadir link de politica de terminos -->
                    <span style="margin-left: 180px;">
                        <a href="../index.html" data-tooltip-text="Politica de Privacidad" target="_blank" id="politicaprivacidad"  class="estilofoot">
                            Política de privacidad
                        </a>
                        
                        <span  class="estilofoot" id="barra">   |  </span>
                        <a href="../index.html" data-tooltip-text="Politica de cookies" target="_blank" id="politicacookies">
                            Política de cookies
                        </a>

                        <span role="link" tabindex="0" id="ampstart" class="estilofoot">
                            Preferencias de cookies
                        </span>
                    </span>
                </div>
            </section>
            <!-- cerramos contenedores y a continuacion cerramos footer -->
    </footer>
</body>
</html> 