<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../Estilos-css/movilpc.css">
    <title>Historia</title>
</head>
<body>
    <main>
        <!-- Añadimos contenedor y dentro insertamos una imagen y un texto -->
        <div id="textomapa-his">
            <img id="mapafoto-his" src="../imagenes/nakba2.png"  alt="foto enseñando destruccion de gaza a causa de los bombardeos" width="100" height="1200"> 
            <div id="textohist1">75 años de masacres contra el pueblo Palestino.</div>
        </div>

        <!-- Añadimos la etiqueta article y dentro el elemento p para añadir texto dentro del contenedor -->
        <article id="textohistoria3">
            <p class="textohistoria4">
                &nbsp; <br>
                &nbsp; <br>
                <h1>Mientras Gaza se tambalea por los devastadores bombardeos de Israel, <br> aquí hay una breve historia del conflicto en mapas y gráficos</h1>
                &nbsp; <br>
                El mortífero bombardeo israelí de Gaza ha matado a mas de 35.000 personas, <br> entre ellas mas de 24.000 mujeres y niños, en más de 200 días, <br> lo que la convierte 
                en la guerra más mortífera para el asediado enclave palestino hasta la fecha. <br>
                &nbsp; <br>
                La devastación de Gaza y el creciente número de muertos han desencadenado protestas en todo el mundo, 
                <br> llevando esta cuestión de décadas al centro del escenario de la política mundial.
            </p>
        </article>

        <!-- Añadimos la etiqueta article y dentro el elemento p para añadir texto dentro del contenedor -->
        <article id="textohistoria5">
            <p class="textohistoria6">
                &nbsp; <br>
                &nbsp; <br>
                <h1>La declaración Balfour</h1>
                &nbsp; <br>
                La cuestión palestino-israelí se remonta a casi un siglo atrás, cuando Gran Bretaña, durante la Primera Guerra Mundial, <br>
                se comprometió a establecer un hogar nacional para el pueblo judío en Palestina en virtud de la Declaración Balfour . <br> Las tropas británicas arrebataron el control del territorio al Imperio Otomano a finales de octubre de 1917. <br>
                &nbsp; <br>
                <h1>Inmigración judía a Palestina</h1> <br>
                Comenzó una migración judía a gran escala hacia Palestina, acelerada por los judíos que huían del nazismo en Europa. <br> Entre 1918 y 1947, la población judía en Palestina aumentó del 6 por ciento al 33 por ciento. <br>
                    &nbsp; <br>
                Los palestinos se alarmaron por el cambio demográfico y las tensiones aumentaron, lo que llevó a la revuelta palestina de 1936 a 1939. <br>
                &nbsp; <br>
                Mientras tanto, las organizaciones sionistas continuaron haciendo campaña por una patria para los judíos en Palestina. <br>
                Las milicias sionistas armadas comenzaron a atacar al pueblo palestino, obligándolo a huir. <br>
                El sionismo, que surgió como ideología política a finales del siglo XIX, pedía la creación de una patria judía.
                &nbsp; <br>
                &nbsp; <br>
                <img src="../imagenes/inmigracion1.png" alt="foto de escala de inmigracion judia desde 1920-1940" height="430" width="770">
                &nbsp; <br>
                &nbsp; <br>
                &nbsp; <br>
                <h1>El plan de partición de la ONU</h1>
                Cuando la violencia asoló Palestina, el asunto se remitió a las recién creadas Naciones Unidas. <br> En 1947, la ONU adoptó la Resolución 181, que pedía la partición de Palestina en estados árabe y judío, <br>
                entregando alrededor del 55 por ciento de la tierra a los judíos. <br> A los árabes se les concedió el 45 por ciento de la tierra, mientras que Jerusalén fue declarada territorio internacionalizado separado. <br>
                &nbsp; <br>
                <img src="../imagenes/onu1.png" alt="foto de plan de las naciones unidas reparticion de ti" height="430" width="770"> <br>
                Actualmente, la ciudad está dividida entre Jerusalén Occidental, de mayoría judía, y Jerusalén Oriental,
                con una población mayoritariamente palestina. <br> Israel capturó Jerusalén Este después de la Guerra de los Seis Días en 1967 junto con Cisjordania, un paso no reconocido por la comunidad internacional. <br>
                &nbsp; <br>
                &nbsp; <br>
                La Ciudad Vieja en la Jerusalén Oriental ocupada tiene un significado religioso para cristianos, musulmanes y judíos. <br>
                Es el hogar del complejo de la Mezquita de Al-Aqsa, que los musulmanes conocen como al-Haram al-Sharif y los judíos como el Monte del Templo. <br>
                &nbsp; <br>
                En 1981, la ONU lo designó Patrimonio de la Humanidad. <br>
                &nbsp; <br>
                &nbsp; <br>
                &nbsp; <br>
                <img src="../imagenes/jerusalen.png" alt="Mapa territorios de jersualen divididos" width="1000" height="600"> <br>
                <img src="../imagenes/jerusalen2.png" alt="Foto de jerusalen este muro y foto jerusalen occidental" width="1000" height="600">
            </p>
        </article>

        <!-- Añadimos la etiqueta article y dentro el elemento p para añadir texto dentro del contenedor -->
        <article id="textohistoria3-1">
            <p class="textohistoria4">
                &nbsp; <br>
                &nbsp; <br>
                <h1> Día de la Nakba: ¿Qué pasó en Palestina en 1948?</h1>
                &nbsp; <br>
                El 15 de mayo de 1948 es una fecha marcada por la infamia para generaciones de palestinos <br> que la conocen como la Nakba, o “la catástrofe”,
                 tras la declaración del Estado de Israel en Palestina. <br>
                &nbsp; <br>
                Cada 15 de mayo, los palestinos conmemoran el aniversario de la Nakba desde que el Yishuv, <br> la comunidad judía anterior al Estado en Palestina,
                 se transformó en Israel después de que el antiguo patrocinador colonial,<br> el Reino Unido, abandonara Palestina, que había invadido y ocupado durante la Primera Guerra Mundial. <br> 
                 &nbsp; <br> 
                 Para los palestinos, la Nakba no representa sólo un acontecimiento histórico 
                 sino un proceso continuo que comenzó en la década de 1880 <br> cuando los colonos sionistas europeos comenzaron a trasladarse a Palestina para sentar las bases de su futuro Estado. <br>  
                 &nbsp; <br>
                Si bien el proyecto sionista cumplió su sueño de crear una patria en Palestina en 1948 <br> después de derrotar a cinco ejércitos árabes mal equipados y superados en número,  <br>
                el desplazamiento palestino nunca ha cesado. <br>
                &nbsp; <br>
                La creación de Israel fue un proceso violento que implicó la expulsión forzosa de cientos de miles de palestinos de su tierra natal <br> para establecer un estado de mayoría judía, según las aspiraciones del movimiento sionista. <br> 
            </p>
        </article>

        <!--Añadimos un contenedor, un subcontenedor y añadimos un titulo y a continuacion un texto  -->
        <div id="containerhist">
            <div id="arthis">
                <p>
                    <h2 id="titulohist">
                        <span id="titulohis">
                        Limpieza étnica de palestina en 1948
                        </span>
                    </h2>
                    <span class="article3">
                            Entre 1947 y 1949, alrededor de 750.000 palestinos de una población de 1,9 millones fueron expulsados ​​de sus ciudades y pueblos para dar paso a los nuevos inmigrantes judíos. <br>
                            &nbsp; <br>
                            Las fuerzas sionistas habían tomado más del 78 por ciento de la Palestina histórica, limpiado étnicamente y destruido alrededor de 530 pueblos y ciudades, <br>
                            y asesinado a unos 15.000 palestinos en una serie de atrocidades masivas, incluidas más de 70 masacres.
                            El 22 por ciento restante se dividió entre lo que hoy es la ocupada Cisjordania y la sitiada Franja de Gaza. <br>
                    </span>
                    <!-- Añadimos una imagen dentro del contenedor y un texto  -->
                    <img src="../imagenes/Palestina.png" alt=" mapa año 1917,1948,1967,1965 palestina" id="imagenhistoria" height="450" width="720">
                    <span class="article3">
                            &nbsp; <br>
                            &nbsp; <br>     
                            Los combates continuaron hasta enero de 1949, cuando se firmó un acuerdo de armisticio entre Israel y Egipto, el Líbano, Jordania y Siria. La Línea del Armisticio de 1949 también se conoce como Línea Verde y es el límite
                            generalmente reconocido entre Israel y Cisjordania. La Línea Verde también se conoce como las fronteras (anteriores a) 1967, antes de que Israel ocupara el resto de Palestina durante la guerra de junio de 1967. <br>
                            &nbsp; <br>
                            La ocupación militar de Palestina por parte de Israel sigue siendo el núcleo de este conflicto que dura décadas y que continúa moldeando cada aspecto de la vida de los palestinos.
                    </span>
                </p>
            </div>
        </div>

        <!-- Añadimos un contenedor para insertar dentro un article y dos imagenes  -->
        <div id="seisdiascont">
            <article class="nakba1">
                Otros 300.000 palestinos fueron desplazados por la Guerra de los Seis Días en 1967 . &nbsp; <br>
                &nbsp; <br>
            </article>
            <img src="../imagenes/nakbaimg1.png" alt="mapa nakba" height="430" width="770">
            <img src="../imagenes/nakbaimg2.png" alt="mapa guerra de los seis dias" height="430" width="770">
            <article class="nakba1">
                &nbsp; <br>
                &nbsp; <br>
                Israel declaró la anexión de Jerusalén Este en 1980, pero la comunidad internacional todavía la considera un territorio ocupado. Los palestinos quieren que Jerusalén Oriental sea la capital de su futuro Estado.
            </article>
        </div>

        <!-- Añadimos la etiqueta article y dentro el elemento p para añadir texto dentro del contenedor -->
        <article id="textohistoria5-1">
            <p class="textohistoria6">
                &nbsp; <br>
                &nbsp; <br>
                <h1>Los Acuerdos de Oslo</h1>
                &nbsp; <br>
                En 1993, el líder palestino Yasser Arafat y el primer ministro israelí Yitzhak Rabin firmaron los Acuerdos de Oslo ,  <br> cuyo objetivo era lograr la paz en un plazo de cinco años. Fue la primera vez que las dos partes se reconocieron. <br>
                &nbsp; <br>
                &nbsp; <br>
                Un segundo acuerdo en 1995 dividió la Cisjordania ocupada en tres partes: Área A, B y C. A la Autoridad Palestina, <br> que fue creada a raíz de los Acuerdos de Oslo, se le ofreció sólo un control limitado sobre el 18 por ciento del territorio, <br>
                 ya que Israel efectivamente continuó controlando Cisjordania. <br>
                 &nbsp; <br>
                 <img src="../imagenes/oslo.png" alt="mapa acuerdos de oslo" height="430" width="770"> <br>
                 &nbsp; <br>
                 <h1>Asentamientos y puestos de control israelíes</h1>
                 &nbsp; <br>
                 Sin embargo, los Acuerdos de Oslo se rompieron lentamente a medida que los asentamientos israelíes , <br> comunidades judías construidas en tierras palestinas en Cisjordania, crecieron a un ritmo rápido. <br>
                 &nbsp; <br>
                 &nbsp; <br>
                 La población de asentamientos en Cisjordania y Jerusalén Oriental creció de aproximadamente 250.000 en 1993 a 700.000  <br>en septiembre de este año. Unos tres millones de palestinos viven en la ocupada Cisjordania y Jerusalén Este. <br>
                 &nbsp; <br>
                 <img src="../imagenes/asentamientos.png" alt="mapa de asentamientos en cisjordania" id="fotoasentamientos" width="1000" height="550"> <br>
                 &nbsp; <br>
                 La construcción de asentamientos israelíes y un muro de separación en los territorios ocupados ha fragmentado <br> a las comunidades palestinas y restringido su movilidad. 
                 Alrededor de 700 obstáculos en las carreteras, incluidos 140 puestos de control, <br>salpican  Cisjordania. <br> Unos 70.000 palestinos con permisos de trabajo israelíes cruzan estos puestos de control en su trayecto diario. <br>
                 &nbsp; <br>
                 Los asentamientos se consideran ilegales según el derecho internacional . <br>
                 &nbsp; <br>
                 La ONU ha condenado los asentamientos, calificándolos de un gran obstáculo para la realización de un Estado palestino viable <br> como parte de la llamada “solución de dos Estados” . <br>
                 &nbsp; <br>
                 &nbsp; <br>
                 <img src="../imagenes/asentamiento.png" alt="mapa asentamientos israeliies" id="mapaasentamientos" width="1000" height="550"> <br>
                 &nbsp; <br>
                 &nbsp; <br>
                 <h1>Bloqueo de Gaza</h1>
                 &nbsp; <br>
                 Israel impuso un bloqueo a Gaza en 2007 después de que el grupo Hamas llegara al poder. <br>
                  El asedio continúa hasta la fecha. Israel también ocupa Cisjordania y Jerusalén Oriental, <br> territorios que los palestinos quieren que formen parte de su futuro Estado. <br>
                  &nbsp; <br>
                  Israel impuso un bloqueo total a la Franja de Gaza el 9 de octubre, cortando sus suministros de electricidad, <br> alimentos, agua y combustible tras un ataque sorpresa de Hamás dentro de Israel. <br> En ese ataque murieron al menos 1.200 personas. <br>
                  &nbsp; <br>
                  <img src="../imagenes/bloqueo.png" alt="bloqueo de gaza" height="750" width="750"> <br>
                  &nbsp; <br>
                  &nbsp; <br>
                  <h1>Israel y Palestina ahora</h1>
                  &nbsp; <br>
                  Así son ahora Israel y Palestina.
                  &nbsp; <br>
                  <img src="../imagenes/BLOQUEO(2).png" alt="territorios palestinos ocupados y territorios israelies ahora" height="750" width="750"> <br>
                  &nbsp; <br>
                  Hoy en día, alrededor de cinco millones de palestinos viven en Gaza, Cisjordania y Jerusalén Oriental  <br>y 1,6 millones de palestinos son ciudadanos de Israel. <br> Esto constituye aproximadamente la mitad de su población total. La otra mitad vive en otros países, incluidos los países árabes. <br>
                  &nbsp; <br>
                  Hoy en día hay alrededor de 14,7 millones de judíos en todo el mundo, de los cuales el 84 por ciento vive en Israel y Estados Unidos. <br> El resto vive en otros países, incluidos Francia, Canadá, Argentina y Rusia.
                  &nbsp; <br>
                  <img src="../imagenes/palestinahoy.png" alt="donde viven los palestinos hoy" height="750" width="800"><br>
                  &nbsp; <br>
                  &nbsp; <br>
                  <img src="../imagenes/judioshoy.png" alt="donde viven los judios hoy" height="750" width="800"> <br>
                  &nbsp; <br>
                  &nbsp; <br>
                  &nbsp; <br>
                  Aquí hay un relato de las vidas palestinas e israelíes perdidas a causa de la violencia entre 2008 y 2023. <br>
                  &nbsp; <br>
                  <img src="../imagenes/costohumanoo.png" alt="numero de victimas palestinas e israelies" height="800" width="800"> <br>
                  &nbsp; <br>


            </p>
        </article>

    </main>

    <!-- abrimos footer -->
    <footer class="footer1">
        <!-- Creamos section para nueva seccion y subcontenedor para añadir datos  -->
            <section class="containerfoot">
                <div class="footlogo"> 

                <!-- Añadimos etiqueta a href para insertar logo -->
                    <a href="file:///C:/Users/acer/Desktop/paginaweb/index.html" id="logoposicion">
                        <img src="../imagenes/logoolivo.png" width="100" height="100" alt="logo olivo con bandera palestina" class="logoolivo">
                    </a>

                    <!-- añadimos p para añadir texto -->
                    <p class="estilofoot">
                        © 2024 Red de medios PalestinaHoy
                    </p>
                    
                    <p class="estilofoot">
                        Producida por Rocío Aylen Gimenez Teti
                    </p>

                    <!-- añadimos elemento p mas href para añadir link mediante texto -->
                    <p class="estilofoot">
                            Datos:
                        <a href="https://shireen.ps/" target="_blank" class="datoslinks">
                            Shireen.ps 
                        </a>
                        <a href="https://www.aljazeera.com/tag/israel-palestine-conflict/" target="_blank" class="datoslinks">
                            Aljazeera
                        </a>
                    </p>
                    
                    <!-- añadimos texto y a continuacion añadimos div para añadir en este caso una lista de link mediante imagenes  -->
                    <p class="estilofoot">
                        Publicado: 11 de mayo de 2024 <br> <br>
                        Dirección: Av. Pío XII,2 <br> <br>
                        Contacto: 640576550 <br> <br>
                    </p>

                     <!-- añadimos contenedor para añadir dentro links de logos*/ -->
                    <div>
                        <a href="https://www.instagram.com/palestinahoy1/"><img src="../imagenes/instagram1.jpeg" width="50" height="50" alt="logotipo link instagram" class="logoinst"></a>
                        <a href="https://www.facebook.com/PalestinaHoy/?locale=es_ES"><img src="../imagenes/facebooklogo.png" width="50" height="50" alt="logotipo link facebook" class="logoface"></a>
                        <a href="https://t.me/s/PalestinaHoy"><img src="../imagenes/telegram.png" width="53" height="50" alt="logotipo link telegram" class="logotel"></a>
                    </div>
                    
                    
                    <!-- añadimos etiqueta span y href para añadir link de politica de terminos -->
                    <span style="margin-left: 180px;">
                        <a href="../index.html" data-tooltip-text="Politica de Privacidad" target="_blank" id="politicaprivacidad"  class="estilofoot">
                            Política de privacidad
                        </a>
                        
                        <span  class="estilofoot" id="barra">   |  </span>
                        <a href="../index.html" data-tooltip-text="Politica de cookies" target="_blank" id="politicacookies">
                            Política de cookies
                        </a>

                        <span role="link" tabindex="0" id="ampstart" class="estilofoot">
                            Preferencias de cookies
                        </span>
                    </span>
                </div>
            </section>
            <!-- cerramos contenedores y a continuacion cerramos footer -->
    </footer>
        
</body>
</html> 