<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../Estilos-css/movilpc.css">
    <title>Líbano</title>
</head>
<body>
    <main>
    <!-- Añadimos contenedor para añadir dentro una imagen principal y un nuevo div dentro para insertar un texto */-->
        <div id="fotolibano">
            <img id="libanofoto1" src="../imagenes/libano2.webp" alt="foto enseñando destruccion de gaza a causa de los bombardeos" width="100" height="1000">
            <div id="textolibano1"> Mapeo de los ataques <br>transfronterizos entre Israel y <br> el Líbano</div>
        </div>

    <!-- Añadimos article y dentro el elemento p para añadir texto dentro del contenedor */-->
        <article id="libanoart1">
            <p  id="libanoart1text">
                &nbsp; <br>
                &nbsp; <br>
                Mientras Israel continúa su guerra contra Gaza en su séptimo mes, aproximadamente dos horas al norte, ha estado librando una guerra paralela a lo largo de la frontera con el Líbano que amenaza con un conflicto regional más amplio. <br>
                &nbsp; <br>
                Desde el 8 de octubre , cuando Hezbollah del Líbano lanzó ataques contra Israel en solidaridad con el pueblo palestino, Israel lo ha atacado casi 4.000 veces a lo largo de los 120 kilómetros (75 millas) de frontera. <br>
                &nbsp; <br>
                Hezbolá se formó en 1982 para luchar contra la invasión y ocupación israelí del sur del Líbano. En 2006, el grupo libró una guerra de 34 días ampliamente considerada como un fracaso estratégico y militar para Israel. <br>
                &nbsp; <br>
                El jefe de Hezbollah, Hassan Nasrallah, no llegó a declarar una guerra total contra Israel, pero dijo que sus fuerzas no tienen miedo de involucrarse en una.
                &nbsp; <br>
                Hezbollah dice que sus operaciones militares contra Isrel continuarán hasta que cese el ataque israelí a Gaza. En respuesta, los líderes israelíes prometieron expulsar a Hezbolá del sur del Líbano, aunque fuera por la fuerza. <br>
                &nbsp; <br>
                &nbsp; <br>
            </p>
        </article>

        <!--  Añadimos la etiqueta article y dentro el elemento p, dentro del elemento añadiremos imagenes , texto y titulos para cada informacion */-->
        <section id="libanoart2">
            <article id="libanoart2text">
                    <h1 id="titulo1libano">Los ataques</h1>
                    &nbsp; <br>
                    Según el Proyecto de Datos de Eventos y Ubicación de Conflictos Armados ( ACLED ), Israel, Hezbolá y otros grupos armados en el Líbano intercambiaron al menos 4.733 ataques a través de la frontera entre el 7 de octubre de 2023 y el 15 de marzo de 2024. <br>
                    &nbsp; <br>
                    Israel llevó a cabo alrededor del 83 por ciento de estos ataques, con un total de 3.952 incidentes, mientras que Hezbolá y otros grupos armados fueron responsables de 781  ataques. <br>

                    &nbsp; <br>
                    Alrededor del 65 por ciento de todos los ataques fueron ataques de artillería o misiles, el 25 por ciento fueron ataques aéreos o con drones y el 10 por ciento restante fueron  enfrentamientos armados, destrucción de propiedades, explosivos remotos o dispositi- <br>vos explosivos improvisados ​​(IED). <br>
                    &nbsp; <br>
                    Además de Hezbollah, que sufrió la peor parte de las hostilidades, otras fuerzas notables involucradas en ataques contra Israel incluyen las Fuerzas libanesas al-Fajr y el  Movimiento Amal, así como las Brigadas Qassam de Hamás y las Brigadas Al-Quds de <br> la Jihad Islámica, ambas alas armadas del Grupos palestinos que mantienen presencia <br> en el Líbano.
                    &nbsp; <br>
                        <img src="../imagenes/art1libano.png" alt=" ataques libano e israel" width="820" height="1950">
                    &nbsp; <br>
                    Israel ha atacado más estos lugares en el sur del Líbano: <br>
                    &nbsp; <br>
                        1.Aita al-Shaab - 190 <br>
                    &nbsp; <br>
                        2.Ras al-Naqura - 154 <br>
                    &nbsp; <br>
                        3.Houla - 143 <br>
                    &nbsp; <br>
                        4.Tayr Harfa - 139 <br>
                    &nbsp; <br>
                        5.Alma ash-Shaab - 134 <br>
                    &nbsp; <br>
                    Los grupos del Líbano atacaron más estos lugares en el norte de Israel: <br>
                    &nbsp; <br>
                        1.Kiryat Shemona - 62 <br>
                    &nbsp; <br>
                        2.Margaliot - 56 <br>
                    &nbsp; <br>
                        3.Shetula - 43 <br>
                    &nbsp; <br>
                        4.Granjas de Shebaa - 43 <br>
                    &nbsp; <br>
                        5.aramsha - 39 <br>
                    &nbsp; <br>
                    &nbsp; <br>
                        <h1>Cronología de los ataques</h1>
                    &nbsp; <br>
                    Aviones y aviones no tripulados israelíes han atacado objetivos en todo el Líbano y en <br> la vecina Siria con impunidad durante meses. <br>
                    &nbsp; <br>
                    En los últimos seis meses, Hezbollah y otros grupos armados realizaron un promedio  <br>de cinco ataques contra Israel por día, mientras que Israel ha llevado a cabo cinco veces <br> más, alrededor de 25 ataques contra el Líbano por día, según ACLED. <br>
                    &nbsp; <br>
                    ACLED también registró al menos 137 intercepciones de misiles de Hezbolá por parte <br> de Israel y ocho intercepciones de drones o misiles israelíes por parte de Hezbolá. <br>
                    &nbsp; <br>
                    El 12 de octubre, el ejército israelí anunció que un soldado de reserva había muerto en <br> un ataque con misiles guiados antitanque de Hezbollah. <br>
                    &nbsp; <br>
                    Al día siguiente, el 13 de octubre, las fuerzas israelíes mataron al periodista de Reuters <br> Issam Abdallah e hirieron a otros seis reporteros, incluidos dos de Al Jazeera, mientras <br> filmaban bombardeos transfronterizos. <br>
                    &nbsp; <br>
                    &nbsp; <br>
                    Una investigación de la ONU encontró que soldados israelíes habían disparado dos ba- <br>las de 120 mm desde un tanque Merkava contra el grupo de “periodistas claramente <br> identificables”, en violación del derecho internacional. <br>
                    &nbsp; <br>
                    El 24 de noviembre entró en vigor una tregua de una semana en Gaza. Durante este <br> tiempo, ACLED registró al menos nueve ataques por parte de Israel contra el Líbano y <br> no se registró ningún ataque del lado libanés. <br>
                    &nbsp; <br>
                    El 2 de enero, un presunto ataque con drones israelíes mató a Saleh al-Arouri , líder <br> político adjunto de Hamas, en Beirut junto con otras seis personas. <br>
                    &nbsp; <br>
                    El asesinato de al-Arouri pareció provocar un cambio en el enfoque de Hezbollah <br> cuando atacó la base de control aéreo de Meron con 62 misiles de varios tipos, el 6 de <br> enero. <br>
                    &nbsp; <br>
                    El 26 de febrero, aviones israelíes llevaron a cabo tres ataques aéreos contra la aldea de <br> Buday, cerca de Baalbek, un bastión de Hezbollah en el valle de Bekaa, la primera vez <br> que Israel atacó el este del Líbano desde el 7 de octubre. <br>
                    &nbsp; <br>
                        <img src="../imagenes/art2libano.png" alt="ataques libano israel Cronología" width="820" height="1950">
                    &nbsp; <br>
                    &nbsp; <br>
                        <h1>368 personas asesinadas</h1>
                        Utilizando informes de los medios locales y declaraciones de Hezbollah y otros grupos <br> armados, Al Jazeera compiló una lista de 368 personas muertas en ataques israelíes <br> contra el Líbano del 8 de octubre al 31 de marzo. <br>
                    &nbsp; <br>
                    Los ataques israelíes han matado al menos a 295 combatientes de Hezbolá y otros gru- <br>pos armados en el Líbano en los últimos seis meses, así como a unos 73 civiles, entre <br> ellos niños, médicos y periodistas. <br>
                    &nbsp; <br>
                    El 14 de febrero, dos ataques aéreos israelíes contra ciudades del sur del Líbano mata- <br>ron al menos a 10 civiles, incluidos siete miembros de la misma familia, uno de los cua- <br>les era un niño. <br>
                    &nbsp; <br>
                    El lanzamiento de cohetes de Hezbollah ha matado a alrededor de una docena de sol- <br>dados israelíes y a la mitad de civiles. <br>
                    &nbsp; <br>
                        <img src="../imagenes/libano368pers.png" alt="personas asesinadas"  width="820" height="1950">
                    &nbsp; <br>
                    &nbsp; <br>
                        <h1>Decenas de miles de desplazados</h1>
                    &nbsp; <br>
                    Según la Organización Internacional para las Migraciones (OIM), más de 90.000 per- <br>sonas han sido desplazadas por los combates en el sur del Líbano. <br>
                    &nbsp; <br>
                    La gran mayoría (96 por ciento) de los desplazados provienen de tres áreas a lo largo <br> de la frontera sur del Líbano: el 71 por ciento de Bint Jbeil, el 14 por ciento de Marja- <br>youn y el 11 por ciento de Tiro. <br>
                    &nbsp; <br>
                    Según estimaciones del Consejo de Gobierno del Sur, unas 700 viviendas fueron des- <br>truidas y más de 10.000 dañadas por los ataques israelíes, especialmente en Dhayra y <br> Blida. Además, los ataques israelíes destruyeron decenas de vehículos, así como infra- <br>estructuras de agua, electricidad y comunicaciones. <br>
                    &nbsp; <br>
                    Del lado israelí, se ordenó a los residentes de 28 ciudades y aldeas dentro de un radio <br> de 2 kilómetros (1,2 millas) de la frontera que evacuaran. <br>
                    &nbsp; <br>
                        <img src="../imagenes/desplazadoslibano.png" alt="desplazados libano"  width="820" height="1450">
                    &nbsp; <br>
                    &nbsp; <br>
                        <h1> El arsenal de Israel</h1>
                        Israel posee los misiles más avanzados de Medio Oriente, muchos de los cuales pro- <br>duce en el país, pero la mayoría de sus misiles guiados con precisión son de Estados <br> Unidos. <br>
                    &nbsp; <br>
                    Según el Centro de Estudios Estratégicos e Internacionales ( CSIS ), gran parte de las <br> capacidades de Israel son sistemas tácticos de corto alcance, incluidos los misiles Po- <br>peye, Extra y Gabriel. <br>
                    &nbsp; <br>
                    Entre los misiles de largo alcance de Israel se encuentran sus misiles balísticos Jericho <br> 2 y Jericho 3 con un alcance de 1.500 a 3.500 kilómetros <br> y 4.800 a 6.500 kilómetros respectivamente. <br>
                    &nbsp; <br>
                    Además, a pesar de no reconocerlo oficialmente, se cree que Israel posee al menos 90 <br>armas nucleares. <br>
                    &nbsp; <br>
                        <img src="../imagenes/artisraellibano.png" alt="arsenal israel"  width="820" height="1950">
                    &nbsp; <br>
                    &nbsp; <br>
                    Para hacer frente a los cohetes y misiles entrantes, Israel utiliza tres sistemas integra- <br>dos de defensa aérea: la Cúpula de Hierro (de corto alcance), la Honda de David (de <br> medio alcance) y la Flecha (de largo alcance). <br>
                    &nbsp; <br>
                    Originalmente se anunció que la Cúpula de Hierro proporcionaría cobertura del ta- <br>maño de una ciudad contra cohetes con alcances de entre 4 y 70 kilómetros (2,5 a 43 <br> millas), pero los expertos dicen que esto se ha ampliado. <br>
                    &nbsp; <br>
                    El David's Sling, producido por el gigante armamentístico israelí Rafael, puede inter- <br>ceptar cohetes y misiles con un alcance de 40 a 300 kilómetros (25 a 186 millas), mien- <br>tras que el Arrow, liderado por el interceptor Arrow 3, tiene un alcance estimado de <br> hasta 2.400 kilómetros ( 1.491 millas). <br>
                    &nbsp; <br>
                        <img src="../imagenes/imgartlibanod.png" alt="arsenal israeli"  width="820" height="750">
                    &nbsp; <br>
                    &nbsp; <br>
                        <h1>El arsenal de Hezbollah</h1> <br>
                    &nbsp; <br>
                    Se considera que Hezbolá es uno de los actores no estatales más fuertemente armados <br> del mundo, con un arsenal de cohetes que se estima que contiene 130.000 piezas, se- <br>gún el CSIS. <br>
                    &nbsp; <br>
                    El 19 de octubre, el Instituto de Investigación de Seguridad Nacional de Israel publicó <br>estimaciones del arsenal de misiles y drones de Hezbollah. <br>
                    &nbsp; <br>
                    Hezbollah, decía, tenía 40.000 misiles tipo grad, con un alcance corto de 15 a 20 kiló- <br>metros (9 a 12 millas). <br>
                    &nbsp; <br>
                    Un paso adelante son los 80.000 misiles de mayor alcance, incluidos los misiles balísti- <br>cos Fajr 3 y Fajr 5, con un alcance de 100 kilómetros (62 millas). <br>
                    &nbsp; <br>
                    Finalmente, hay alrededor de 30.000 misiles Zelzal o Fateh-110 con un alcance de 200 <br> a 300 kilómetros (124 a 186 millas), las armas de mayor alcance en el inventario de <br> Hezbollah capaces de llegar al sur de Israel. <br>
                    &nbsp; <br>
                    <img src="../imagenes/artfinlibano.png" alt="arsenal hezbollah"  width="820" height="1950">
                    &nbsp; <br>
                    &nbsp; <br>
                    <!-- Cerramos todos los elementos y el contenedor article*/-->
            </article>
        </section>
    </main>
   
    <!-- abrimos footer -->
    <footer class="footer1">
        <!-- Creamos section para nueva seccion y subcontenedor para añadir datos  -->
            <section class="containerfoot">
                <div class="footlogo"> 

                <!-- Añadimos etiqueta a href para insertar logo -->
                    <a href="file:///C:/Users/acer/Desktop/paginaweb/index.html" id="logoposicion">
                        <img src="../imagenes/logoolivo.png" width="100" height="100" alt="logo olivo con bandera palestina" class="logoolivo">
                    </a>

                    <!-- añadimos p para añadir texto -->
                    <p class="estilofoot">
                        © 2024 Red de medios PalestinaHoy
                    </p>
                    
                    <p class="estilofoot">
                        Producida por Rocío Aylen Gimenez Teti
                    </p>

                    <!-- añadimos elemento p mas href para añadir link mediante texto -->
                    <p class="estilofoot">
                            Datos:
                        <a href="https://shireen.ps/" target="_blank" class="datoslinks">
                            Shireen.ps 
                        </a>
                        <a href="https://www.aljazeera.com/tag/israel-palestine-conflict/" target="_blank" class="datoslinks">
                            Aljazeera
                        </a>
                    </p>
                    
                    <!-- añadimos texto y a continuacion añadimos div para añadir en este caso una lista de link mediante imagenes  -->
                    <p class="estilofoot">
                        Publicado: 11 de mayo de 2024 <br> <br>
                        Dirección: Av. Pío XII,2 <br> <br>
                        Contacto: 640576550 <br> <br>
                    </p>

                     <!-- añadimos contenedor para añadir dentro links de logos*/ -->
                    <div>
                        <a href="https://www.instagram.com/palestinahoy1/"><img src="../imagenes/instagram1.jpeg" width="50" height="50" alt="logotipo link instagram" class="logoinst"></a>
                        <a href="https://www.facebook.com/PalestinaHoy/?locale=es_ES"><img src="../imagenes/facebooklogo.png" width="50" height="50" alt="logotipo link facebook" class="logoface"></a>
                        <a href="https://t.me/s/PalestinaHoy"><img src="../imagenes/telegram.png" width="53" height="50" alt="logotipo link telegram" class="logotel"></a>
                    </div>
                    
                    
                    <!-- añadimos etiqueta span y href para añadir link de politica de terminos -->
                    <span style="margin-left: 180px;">
                        <a href="../index.html" data-tooltip-text="Politica de Privacidad" target="_blank" id="politicaprivacidad"  class="estilofoot">
                            Política de privacidad
                        </a>
                        
                        <span  class="estilofoot" id="barra">   |  </span>
                        <a href="../index.html" data-tooltip-text="Politica de cookies" target="_blank" id="politicacookies">
                            Política de cookies
                        </a>

                        <span role="link" tabindex="0" id="ampstart" class="estilofoot">
                            Preferencias de cookies
                        </span>
                    </span>
                </div>
            </section>
            <!-- cerramos contenedores y a continuacion cerramos footer -->
    </footer>
</body>

</html> 