<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../Estilos-css/movilpc.css">
    <title>Destrucción de Gaza</title>
</head>
<body>
    <main>
        <!-- Creamos el primer contenedor añadimos una imagen y un texto dentro del contenedor -->
        <div id="textomapa">
            <img id="mapafoto1" src="../imagenes/mapafoto1.jpeg" alt="foto enseñando destruccion de gaza a causa de los bombardeos" width="100" height="1000">
            <div id="textomapa1"> Mapa de la destrucción de Gaza por parte de Israel</div>
            <div id="textomapa2">La escala de destrucción en Gaza <br> ha sido descrita como una de las peores de la historia moderna.</div>
        </div>

        <!-- Añadimos un contenedor articulo con un parrafo de texto-->
        <article id="textomapa3">
            <p class="textomapa4">
            El ejército israelí ha dañado o destruido aproximadamente el 62 por ciento de todos los hogares en Gaza <br>(290.820 unidades de vivienda), dejando a más de un millón de personas sin hogar.
            <br> desde el inicio de su último asalto a la Franja de Gaza tras el ataque sorpresa de Hamás el 7 de octubre.<br>
            &nbsp; <br>
            Los 18.500 millones de dólares en daños estimados por el Banco Mundial y la ONU <br>
             también se han producido en la infraestructura de servicios públicos, <br> con 26 millones de toneladas de escombros dejados por la destrucción. <br>
            &nbsp; <br> 
            Más de 45.000 misiles y bombas han sido lanzados en Gaza, <br> esa cantidad representa “más de 65.000 toneladas de explosivos, que es más que el peso <br> 
            y la potencia de tres bombas nucleares como las que fueron lanzadas sobre la ciudad japonesa de Hiroshima” <br>en la Segunda Guerra Mundial, según un comunicado del Gobierno gazatí. <br>
             &nbsp; <br>
             Mohammad Ziyara, ministro palestino de Obras Públicas y Vivienda, afirmó que el bombardeo <br> "borró a familias enteras del registro civil", así como "barrios y comunidades residenciales". <br>
             &nbsp; <br>
             "También destruyó instalaciones, incluidos hospitales, lugares de culto, panaderías, <br> estaciones de servicio de agua, mercados, escuelas e instituciones educativas y de servicios", <br>añadió Ziyara en un comunicado. <br>
            &nbsp; <br>
             La Franja de Gaza, hogar de unos 2,3 millones de personas, <br> cubre una pequeña área de 365 kilómetros cuadrados (141 millas cuadradas).
            </p>
        </article>

        <!--Añadimos un contenedor y dentro un titulo con un pequeño texto y un video*/-->
        <div id="containervideo">
            <div id="video">
                <h2 id="videotexto2">
                    <span id="textovideo2">
                        <span id="textovideo2-1">Hogares destruidos</span>
                    </span>
                </h2>
                <span id="videotexto">
                    <span id="videotextoo-1">
                         Según la oficina humanitaria de la ONU , al menos el 60 por ciento de todas las viviendas del enclave han resultado dañadas o destruidas en los ataques israelíes. <br>
                        Se estima que 1,4 millones de personas en Gaza han sido desplazadas internamente debido al incesante bombardeo, y unas 629.000 se han refugiado en 150 refugios de emergencia designados por la ONU. <br>
                        <em id="textvideomapad"> Video en el Barrio de Bani Suhaila, Khan Younis.</em>
                    </span>
                </span>
                <video autoplay loop muted preload="none" id="video1" src="../Videos/video1.mp4" width="640" height="360"  controls></video>
            </div>
        </div>

        <!--Añadimos un contenedor article con el elemento p para introducir texto*/-->
        <article class="textomapa6">
            <p class="textomapa7">
                «Ningún lugar es seguro en Gaza» <br>
                    &nbsp; <br>
                 Desde que comenzó la  guerra los residentes de Gaza han acudido en masa a hospitales y escuelas <br> 
                 porque sus hogares han sido destruidos y no tienen otro lugar adonde ir, <br>
                 con la esperanza de que Israel respete el derecho internacional y no ataque esas coordenadas. <br>
                Sin embargo, los lugares de refugio tampoco han estado libres de ataques israelíes. <br>
                &nbsp; <br>
                Israel ha atacado repetidamente escuelas e incluso centros de atención neonatal, lo que ha provocado la muerte de bebés recién nacidos. <br>
                Según datos de Save the Children de principios de noviembre, cada 10 minutos matan a un niño. La ONU ha calificado el enclave palestino asediado <br>
                como “un cementerio” de niños debido a las elevadas cifras de víctimas. <br>
                &nbsp; <br>
                "Nuestros temores más graves acerca de que el número de niños asesinados se convirtiera en docenas, <br> luego cientos y finalmente miles se hicieron realidad en sólo quince días",
                 dijo James Elder, <br> portavoz del Fondo de las Naciones Unidas para la Infancia (UNICEF), el 31 de octubre. <br>
                 &nbsp; <br>
                 La mayoría de los ocho campos de refugiados en la Franja de Gaza, donde viven más de 1,1 millones de refugiados registrados, <br> han sido atacados por aviones de combate israelíes, masacrando a familias enteras. <br>
                 &nbsp; <br>
                 “Hacemos totalmente responsable a la ocupación israelí de esta atroz masacre y de las masacres en curso contra nuestro pueblo palestino. <br> También culpamos a la comunidad internacional, a la administración estadounidense y 
                 personalmente al presidente Biden por la continuación de masacres <br> y crímenes que violan el derecho internacional y todos los tratados y convenciones internacionales”, <br> dijo la oficina de medios. [Abdelhakim Abu Riash/Al Jazeera]
            </p>
        </article>

        <!--Añadimos un contenedor div con el elemento p para introducir texto*/-->
        <div class="containervideo1" id="container1video">
            <div id="video2">
                    <h2 class="videotexto3">
                        <span class="textovideo3">
                            <span  id="textovideo-2">Escuelas destruidas</span>
                        </span>
                    </h2>
                    <span id="videotexto3-1">
                        <span>
                            Todas las escuelas de Gaza han sido cerradas y ninguna universidad ha sobrevivido <br>a los más de 200 días de ataque del ejército israelí. <br>
                            &nbsp; <br>
                            Cientos de escuelas, incluidas las administradas por la ONU, en el asediado enclave palestino 
                            han sido bombardeadas y estudiantes y maestros asesinados, han devastado la infraestructura educativa y causado traumas mentales a miles de estudiantes asediados. <br>
                            &nbsp; <br>
                            El director de Save the Children para Palestina, Jason Lee, dijo en octubre: <br>
                            “Los ataques a infraestructuras civiles, incluidas escuelas y hospitales donde los niños buscan refugio,
                            son más que inadmisibles. Esta guerra está erosionando a la humanidad y se está saliendo de control”. <br>
                            &nbsp; <br>
                            Al menos 133 escuelas se utilizan como refugio para palestinos desplazados internamente en la Franja de Gaza. 
                            Estas escuelas albergan a muchas más personas de las que tienen capacidad, ya que más de 1,9 millones de personas han sido desplazadas. <br>
                            &nbsp; <br>
                            Israel ha atacado múltiples escuelas que servían de refugio, asesinando a palestinos desplazados.
                           <em id="video2est"> Video de la universidad Al Israa, el 18 de enero de 2024.</em>
                        </span>
                    </span>
                    <video autoplay loop muted preload="none" id="video4" src="../Videos/universidad.mp4" width="790" height="360"  controls></video>
            </div>
        </div>

        <!--Añadimos un contenedor div con el elemento p para introducir texto*/-->
        <article class="textomapa6">
            <p class="textomapa7">
                Israel ha advertido a 24 hospitales que sean evacuados, incluido el más grande, el Hospital al-Shifa en la ciudad de Gaza.
                <br> &nbsp; <br>
                El ejército israelí ha centrado sus ataques en hospitales de toda Gaza a pesar de que están protegidos por el derecho internacional, alegando que Hamás está operando dentro y debajo de ellos.
                <br> &nbsp; <br>
                Todos los hospitales han sufrido daños críticos y sólo 10 de 36 pueden funcionar parcialmente, pero están cada vez más sobrecargados.
                 <br> &nbsp; <br>
                 "Todas las instalaciones restantes están funcionando al 150 por ciento de su capacidad", dijo al-Qudra. <br> “Como resultado, nos hemos visto obligados a realizar operaciones quirúrgicas en el suelo. <br>
                  Nos hemos quedado totalmente sin combustible, suministros médicos y medicinas en todos los hospitales de Gaza. <br> Esperamos que el número de muertes aumente”.
                  <br> &nbsp; <br>
                Los médicos trabajan las 24 horas del día a pesar de la escasez de suministros médicos y el colapso casi total del sistema de salud en Gaza.
                    <br> &nbsp; <br>
                  "Todos están decididos a no evacuar", dijo al-Dergan. “Ni siquiera es posible. ¿Cómo podemos trasladar a los pacientes en cuidados intensivos o sometidos a cirugía? <br>
                  Si los israelíes quieren bombardear los hospitales, eso estará sobre nuestras cabezas mientras apoyamos a nuestros pacientes”
                  <br> &nbsp; <br>
                "Lo que estamos experimentando como médicos en los hospitales es un millón de veces más de lo que podemos soportar", <br> afirmó al-Degran. Hizo un llamado al mundo para que apoye a Gaza y “no la abandone”.
                <br> &nbsp; <br>
                “Detengamos esta guerra en Gaza, donde familias enteras ya han sido borradas del registro civil. Esta muerte y destrucción es suficiente”. dijo al-Degran.
                  <br> &nbsp; <br>
                  La OMS ha calificado las órdenes de evacuación de Israel como una “sentencia de muerte” para los enfermos y heridos.
                   <br> &nbsp; <br>
            </p>
        </article>
            
        <!--Añadimos un contenedor div y dentro añadimos subcontenedor + titulo + parrafo de texto y debajo un video*/-->
        <div class="containervideo1">
            <div class="imagen4">
                <p>
                    <h2 class="videotexto4">
                        <span class="textovideo4">
                            <span id="hospitaltitle">¿Qué esta pasando en el Hospital Al-shifa?</span>
                        </span>
                    </h2>
                    <span class="videotexto4">
                        <p id="hospitaltexto1">
                            El 18 de marzo las fuerzas militares de Israel irrumpieron en el hospital Al-Shifa en la ciudad de Gaza con tanques y intenso fuego, <br> lo que provocó muertos y heridos, dijeron funcionarios palestinos. <br>
                            &nbsp; <br>
                            <br> El Ministerio de Salud de Gaza dijo que unas 30.000 personas, 
                            incluidos civiles desplazados, pacientes heridos y personal médico,  estaban atrapadas dentro del complejo. <br>
                            &nbsp; <br>
                            El periodista Mahmoud, citando a testigos, dijo que muchos palestinos fueron golpeados y abusados ​​verbalmente,  algunos con los ojos vendados y las manos atadas a la espalda.  <br>
                            Luego los metieron dentro de un camión militar israelí y los llevaron a un lugar desconocido, dijo. <br>
                            &nbsp; <br>
                            El Ministerio de Salud de Gaza dijo que las fuerzas israelíes lanzaron misiles y abrieron fuego contra uno de los edificios del hospital, matando e hiriendo a palestinos, y una sección del patio del hospital fue arrasada con topadoras <br>
                            &nbsp; <br>
                            Según Mahmoud, las fuerzas israelíes también habían arrestado a 80 palestinos más, entre ellos “mujeres del personal médico y [otros] periodistas”. <br>
                            &nbsp; <br>
                            Marx señaló que esta es la quinta incursión israelí en Al Shifa desde el 7 de octubre. Un largo asedio a las instalaciones en noviembre le valió a Israel una protesta internacional.
                            El 15 de noviembre de 2023, 36 bebés prematuros fueron sacados de sus incubadoras porque la estación que les suministraba oxígeno fue destruida en los bombardeos israelíes, <br>
                            Murieron tres bebés. <br>
                            &nbsp; <br>
                            La Oficina de Medios del Gobierno en Gaza condenó la operación y calificó el ataque de “crimen de guerra” <br>
                            &nbsp; <br>
                            El 1 de abril el ejército israelí se retiró del hospital más grande de la Franja de Gaza después de una incursión de dos semanas, <br> dejando tras de sí escenas de devastación. <br>
                            Informaron haber encontrado cuerpos esparcidos dentro y fuera de las instalaciones. <br>
                            &nbsp; <br>
                            <img src="../imagenes/alshifa2.jpg" alt="hospital alshifa destruccion" width="1150" height="700">
                            &nbsp; <br>
                            Mohammed Mahdi, uno de los que regresaron, describió una escena de “destrucción total”. <br> Dijo que varios edificios habían sido incendiados y que había contado seis cadáveres en la zona, dos de ellos en el patio del hospital. <br>
                            &nbsp; <br>
                            Otro residente, Yahia Abu Auf, dijo que las excavadoras del ejército habían arrasado <br>un cementerio improvisado dentro del recinto hospitalario, donde todavía había pacientes, trabajadores médicos y personas desplazadas refugiadas. <br>
                            &nbsp; <br>
                            "La situación es indescriptible", afirmó. "La ocupación destruyó todo sentido de vida aquí. <br>
                            Israel ha acusado a Hamás de utilizar hospitales con fines militares y ha allanado varias instalaciones médicas. <br>
                            &nbsp; <br>
                             Los críticos acusan al ejército israelí de poner en peligro imprudentemente a la población civil y de diezmar un sector sanitario ya abrumado por los heridos de guerra. <br>
                        </p>
                    </span>
                    <img src="../imagenes/alshifa1.webp" id="imagen2hospital" alt="hospital alshifa destruccion" width="1150" height="700">
                </p>
            </div>
        </div>
        
        <!--Añadimos un contenedor article con el elemento p para introducir texto*/-->
        <article class="textomapa6">
            <p class="textomapa7">
                «'Gritan de hambre' - Cómo Israel está matando de hambre a Gaza» <br>
                    &nbsp; <br>
                    La situación humanitaria en Gaza ha empeorado significativamente en 2024  a medida <br> que el ejército israelí bloquea la llegada de ayuda y ha impuesto efectivamente el hambre como arma de guerra. <br>
                    &nbsp; <br>
                    Casi los 2,3 millones de personas atrapadas en Gaza ahora se enfrentan a la hambruna, <br> y la ONU dice que la hambruna se extenderá a varias partes de Gaza en mayo. <br>
                    &nbsp; <br>
                    El norte de Gaza, que fue el primero en ser diezmado por una invasión terrestre israelí, es el más afectado: <br> Israel continúa restringiendo severamente el acceso al norte,
                     bloqueando rutas y sometiendo los convoyes de ayuda <br> a retrasos o cancelaciones. <br>
                     &nbsp; <br>
                     Bebés y niños pequeños han muerto por deshidratación y desnutrición en el norte de Gaza, <br> pero Israel sigue bloqueando muchas misiones humanitarias. <br>
                     &nbsp; <br>
                    A principios de abril, las fuerzas israelíes mataron deliberadamente a siete trabajadores humanitarios extranjeros <br> en tres ataques selectivos consecutivos contra un convoy de automóviles en un tramo de 2,3 kilómetros (1,4 millas), <br> 
                    lo que llevó a algunas organizaciones humanitarias a suspender los servicios.
            </p>
        </article>


        <!--Añadimos un contenedor, subcontenedor, titulo, texto + imagen*/-->
        <div class="containervideo1">
            <div class="imagen4">
                    <h2 class="videotexto4">
                        <span class="textovideo4">
                            <span id="hambretittle">Gaza enfrenta un hambre catastrófica</span>
                        </span>
                    </h2>
                    <span class="videotexto4">
                        <article id="hambretexto-1">
                            &nbsp; <br>
                            Israel ha bloqueado repetidamente la entrega de suministros de ayuda, incluidos alimentos, <br> a pesar del fallo de la Corte Internacional de Justicia de enero que ordenó a Israel 
                            "garantizar la entrega de servicios básicos y ayuda humanitaria esencial a los civiles en Gaza". <br> 
                             &nbsp; <br>
                            Según un informe respaldado por las Naciones Unidas publicado la semana pasada, <br> la mitad de la población de Gaza (1,1 millones de personas) ha agotado por completo sus suministros de alimentos. <br>
                            &nbsp; <br>
                             “La gente en Gaza está muriendo de hambre en este momento. <br> La velocidad a la que esta crisis de hambre y desnutrición provocada por el hombre ha arrasado Gaza es aterradora”,  <br>
                            dijo la directora ejecutiva del Programa Mundial de Alimentos, Cindy McCain.  <br>y su capacidad de supervivencia y se enfrenta a un “hambre catastrófica”, el indicador más alto de una hambruna. <br>
                            &nbsp; <br>
                            &nbsp; <br>   
                            &nbsp; <br>   
                            <p id="titulo2hambre"> <b>Niños muriendo de desnutrición </b></p> <br>
                            &nbsp; <br>
                            Uno de cada tres niños menores de dos años en el norte de Gaza sufre desnutrición aguda, <br>según los exámenes nutricionales realizados por UNICEF y sus socios. <br>
                            &nbsp; <br>
                            "La velocidad a la que se ha desarrollado esta catastrófica crisis de desnutrición infantil en Gaza es impactante, <br>
                            especialmente cuando la asistencia que se necesita desesperadamente está disponible a sólo unos kilómetros de distancia", <br> dijo Catherine Russell, directora ejecutiva de UNICEF. <br>
                            &nbsp; <br>   
                            "Realmente no sabemos qué les está sucediendo a otros niños a los que no tenemos acceso; <br>lo que sabemos y sobre lo que hemos estado advirtiendo es que el acceso a la ayuda humanitaria <br>
                             y su entrega pueden realmente reducir la proporción de desnutrición entre niños”, <br>
                            afirmó Adele Khodr, directora regional de UNICEF para Oriente Medio y el Norte de África. <br>
                            &nbsp; <br>
                            En febrero, Save the Children advirtió que Gaza estaba presenciando “una matanza masiva de niños en cámara lenta porque no queda comida y nada les llega”. <br>
                            &nbsp; <br> 
                            &nbsp; <br>   
                            &nbsp; <br>             
                            
                            <p id="titulo3hambre"><b>No hay bebés de tamaño normal. </b></p> <br>
                            &nbsp; <br>           
                            "Los médicos informan que ya no ven bebés de tamaño normal", <br> dijo a los periodistas el funcionario del UNFPA, Dominic Allen, <br>
                            después de visitar hospitales que aún brindan servicios de maternidad <br> en el norte de Gaza, donde la necesidad es especialmente grande. <br>
                            &nbsp; <br>           
                            "Sin embargo, lo que sí ven, trágicamente, es más nacimientos muertos... y más muertes neonatales, <br> causadas en parte por la desnutrición, la deshidratación y las complicaciones", añadió Allen. <br>
                            &nbsp; <br>           
                            El número de partos complicados es aproximadamente el doble de lo que era antes de que comenzara la guerra con Israel: <br> madres estresadas, temerosas, desnutridas y agotadas, y los cuidadores a menudo carecen de los suministros necesarios. <br>
                            &nbsp; <br>           
                            "La gente está desesperada por comida... se puede entender lo difícil que es para una madre o un padre ver a sus hijos morir de hambre y no poder mantenerlos... <br> es por eso que las agencias de la ONU están presionando para lograr un mayor acceso al norte", <br>
                            Noor Hammad. , dijo a Al Jazeera un asistente de comunicaciones del PMA que supervisa las entregas de alimentos. <br>
                            &nbsp; <br>           
                            "Las necesidades son extremas y es necesario hacer más". <br>
                           <p id="textoimghambre">
                            1 de cada 3 niños palestinos menores de 2 años en el norte de Gaza sufre desnutrición aguda y emaciación. <br> Los niños mueren de hambre al ritmo más rápido que el mundo jamás haya conocido.</p>
                           </article>
                    </span>
                    <img src="../imagenes/hambre.webp" alt="niños gaza hambruna" width="1170" height="700" id="imghambruna">
            </div>
        </div>

        <!--Añadimos un contenedor div , un subcontenedor, un titulo h2 y dentro de span un texto*/-->
        <div class="containervideo1" id="containerharina" >
            <div id="videom-1">
                    <h2 class="videotexto3">
                        <span class="textovideo3">
                        <p id="harinatittle">'Masacre de harina'</p>
                    </h2>
                    <span class="videotexto3">
                        <article id="textharina">
                             <br>
                                El 29 de febrero, las fuerzas israelíes mataron a 118 personas que luchaban <br> por conseguir harina en la calle costera al-Rashid, al suroeste de la ciudad de Gaza, <br>
                                lo que provocó una condena mundial, pero los ataques han continuado sin cesar. <br>
                                &nbsp; <br>  
                                Mientras la gente se reunía en grandes grupos esperando la ayuda que tanto necesitaban, <br> fueron atacados con todo tipo de equipo militar, <br> 
                                informó Hani Mahmoud, desde Rafah. Según un informe de Associated Press,  <br>la gente sacó cajas de harina y productos enlatados de los camiones. <br>
                                &nbsp; <br>  
                                Después de que cesó la primera ronda de disparos, la gente regresó a los camiones, <br> sólo para que los soldados abrieran fuego una vez más. <br>
                                &nbsp; <br>  
                                "Después de abrir fuego, los tanques israelíes avanzaron <br> y atropellaron a muchos de los cadáveres y heridos", <br> dijo Ismail al-Ghoul de Al Jazeera, informando desde el lugar . <br>
                                &nbsp; <br>  
                                Esto ocurrió un día después de que Carl Skau, director ejecutivo <br>adjunto del Programa Mundial de Alimentos (PMA), <br> dijera al Consejo de Seguridad de las Naciones Unidas que más de 500.000,  <br>
                                o una de cada cuatro personas, estaban en riesgo de sufrir hambruna , <br> y que uno de cada seis niños se encontraba por debajo del umbral de pobreza. <br>
                                &nbsp; <br>  
                                Según Mahmoud de Al Jazeera, cuanto más hablaba con la gente, <br> “más claro se volvía que sentían que era una trampa, una emboscada”. <br>
                                 &nbsp; <br>  
                                “Habíamos venido aquí para conseguir algo de ayuda. <br> Alrededor de las 4:30 de la madrugada, los camiones comenzaron a llegar. <br> Los israelíes simplemente abrieron fuego al azar contra nosotros como si fuera una trampa. <br>
                                Una vez que nos acercamos a los camiones de ayuda, <br> los tanques y aviones de combate israelíes comenzaron a dispararnos”, <br> dijo a Al Jazeera un testigo en el lugar. <br>
                                &nbsp; <br>  
                                Los testigos dijeron que la estampida se produjo como resultado de los disparos israelíes <br> y que los camiones también atropellaron a los heridos, lo que aumentó el número de muertos. <br>
                                Se utilizaron carros tirados por burros para llevar a las personas <br> al hospital porque las ambulancias no podían llegar a la zona. <br>
                                &nbsp; <br>  
                                Bernard Smith, de Al Jazeera, informando desde la Jerusalén Este ocupada,<br> dijo que el ejército israelí “inicialmente trató de echarle la culpa a la multitud”, <br>
                                diciendo que docenas resultaron heridas como consecuencia de haber sido aplastadas <br>y pisoteadas en una estampida cuando llegaron los camiones de ayuda. <br>
                                &nbsp; <br>  
                                "Y luego, después de algunos empujones, los israelíes continuaron <br>diciendo que sus tropas se sentían amenazadas, que cientos de tropas se acercaron <br> a sus tropas de una manera que representaban una amenaza para ellos, <br>
                                por lo que respondieron abriendo fuego", añadió Smith. <br> Pero no explicaron cómo esas personas representaban una amenaza. <br>
                                &nbsp; <br>  
                                Los testigos insistieron en que la estampida se produjo sólo después <br> de que las tropas israelíes comenzaron a disparar contra la gente que buscaba comida. <br>
                                &nbsp; <br>  
                                El gobierno estadounidense dijo que estaba buscando respuestas de Israel, <br> aunque se negó a condenar directamente los asesinatos. <br>
                                &nbsp; <br>  
                               "La gente no debería tener que morir mientras intenta mantener vivas a sus familias" <br> dijo Martin Griffiths, coordinador de ayuda de emergencia de la ONU. <br>
                               &nbsp; <br>  
                               Los grupos de derechos humanos dicen que Israel está utilizando el hambre como arma de guerra contra los palestinos. <br>
                            <!--Añadimos texto descriptivo sobre el video*/-->
                           <p id="videoharina-1"> Video del momento de la masacre de Israel contra civiles Palestinos hambrientos en Gaza.</p>
                        </article>
                    </span>
                    <!--Añadimos un video dentro del contenedor*/-->
                    <video id="video4-1" src="../Videos/harina.mp4" width="790" height="360"  controls></video>
            </div>
        </div>

        
        
    </main>
     
    <!-- abrimos footer -->
    <footer class="footer1">
        <!-- Creamos section para nueva seccion y subcontenedor para añadir datos  -->
            <section class="containerfoot">
                <div class="footlogo"> 

                <!-- Añadimos etiqueta a href para insertar logo -->
                    <a href="file:///C:/Users/acer/Desktop/paginaweb/index.html" id="logoposicion">
                        <img src="../imagenes/logoolivo.png" width="100" height="100" alt="logo olivo con bandera palestina" class="logoolivo">
                    </a>

                    <!-- añadimos p para añadir texto -->
                    <p class="estilofoot">
                        © 2024 Red de medios PalestinaHoy
                    </p>
                    
                    <p class="estilofoot">
                        Producida por Rocío Aylen Gimenez Teti
                    </p>

                    <!-- añadimos elemento p mas href para añadir link mediante texto -->
                    <p class="estilofoot">
                            Datos:
                        <a href="https://shireen.ps/" target="_blank" class="datoslinks">
                            Shireen.ps 
                        </a>
                        <a href="https://www.aljazeera.com/tag/israel-palestine-conflict/" target="_blank" class="datoslinks">
                            Aljazeera
                        </a>
                    </p>
                    
                    <!-- añadimos texto y a continuacion añadimos div para añadir en este caso una lista de link mediante imagenes  -->
                    <p class="estilofoot">
                        Publicado: 11 de mayo de 2024 <br> <br>
                        Dirección: Av. Pío XII,2 <br> <br>
                        Contacto: 640576550 <br> <br>
                    </p>

                     <!-- añadimos contenedor para añadir dentro links de logos*/ -->
                    <div>
                        <a href="https://www.instagram.com/palestinahoy1/"><img src="../imagenes/instagram1.jpeg" width="50" height="50" alt="logotipo link instagram" class="logoinst"></a>
                        <a href="https://www.facebook.com/PalestinaHoy/?locale=es_ES"><img src="../imagenes/facebooklogo.png" width="50" height="50" alt="logotipo link facebook" class="logoface"></a>
                        <a href="https://t.me/s/PalestinaHoy"><img src="../imagenes/telegram.png" width="53" height="50" alt="logotipo link telegram" class="logotel"></a>
                    </div>
                    
                    
                    <!-- añadimos etiqueta span y href para añadir link de politica de terminos -->
                    <span style="margin-left: 180px;">
                        <a href="../index.html" data-tooltip-text="Politica de Privacidad" target="_blank" id="politicaprivacidad"  class="estilofoot">
                            Política de privacidad
                        </a>
                        
                        <span  class="estilofoot" id="barra">   |  </span>
                        <a href="../index.html" data-tooltip-text="Politica de cookies" target="_blank" id="politicacookies">
                            Política de cookies
                        </a>

                        <span role="link" tabindex="0" id="ampstart" class="estilofoot">
                            Preferencias de cookies
                        </span>
                    </span>
                </div>
            </section>
            <!-- cerramos contenedores y a continuacion cerramos footer -->
    </footer>

</body>
</html> 