<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../Estilos-css/movilpc.css">
    
    
    <title>PALESTINAHOY</title>
</head>
<body>
    <!-- Menu de navegación superior -->
    <header class="header2">
        <div class="header3">
            <a href="../index.html"> <img src="../imagenes/PALESTINAHOY1.png" width="250" height="70"  class="logopalestina" alt="logo pagina web"></a>
            <a href="../index.html" class="estilosmenu"><span class="contenidopc"> Inicio </span></a>
            <a href="noticias.html" class="estilosmenu"><span class="contenidopc"> <strong>Últimas Noticias</strong></span></a>
            <a href="galeria.html" class="estilosmenu"><span class="contenidopc">Fotos </span></a>
            <a href="portfolio.html" class="estilosmenu"><span class="contenidopc">Mártires</span></a>
            <a href="presupuesto.html" class="estilosmenu"><span class="contenidopc">Contacto</span></a>
        </div>

        <!-- Boton de inicio de sesion del menu de navegación superior -->
        
        <div class="iniciosesion">
            <a href="Registro.html" class="Registro"> <span class="textbutton"><strong>Iniciar sesión</strong></span></a>
        </div> 
        
    </header>

    <main  id="mainnoticias">
        <!-- Añadimos contenedor con texto  -->
        <p id="titulonot">Guerra de Israel contra Gaza</p>
        <!-- Añadimos contenedor y dentro añadiremos el elemento ul para crear una lista de noticias a traves del articulo li  -->
        <div id="noticias-cont">
            <ul class="estiloslista">
                <!--Añadimos primer elemento li para insertar la primera noticia-->
                <li>
                    <!--Añadimos elemento article para darle forma al primer li-->
                    <article id="contenedor-art1">
                        <!--Añadimos subcontenedor y añadimos el elemento a href para redirigir hacia la pagina indicada -->
                        <div>
                                <!-- Añadimos elemento figure para añadir una imagen acompañada de un texto (figcaption)  -->
                                <figure>
                                    <video src="../Videos/cpi.mp4" autoplay loop controls id="img-not" width="550" height="390"></video>
                                    <figcaption id="text-not">La CPI solicita orden de arresto para el primer ministro israelí Netanyahu</figcaption>
                                </figure>
                            <!-- Añadimos elemento font para insertar un texto dentro del contenedor y seguidamente cerramos todos los elementos y dentro del li  -->
                            <p class="text-art-not">
                                La Corte Penal Internacional emitió hoy órdenes de arresto contra <br> Benjamin Netanyahu, y su Ministro de Defensa, Yoav Gallant, por <br> crímenes contra la humanidad como masacrar a civiles y <br> usar el hambre como forma de exterminio.
                            </p>
                        
                            <p  class="text-art-not"> 20 de mayo de 2024</p>
                        </div>
                    </article>
                </li>

                <!--Añadimos elemento li para insertar siguiente noticia-->
                <li>
                    <!--Añadimos elemento article para darle forma al li-->
                    <article id="contenedor-art2">
                        <!--Añadimos subcontenedor y añadimos el elemento a href para redirigir hacia la pagina indicada -->
                        <div>
                            <a href="https://www.instagram.com/p/C6o4830yMvE/" class="href-estilos">
                                <!-- Añadimos elemento figure para añadir una imagen acompañada de un texto (figcaption)  -->
                                <figure>
                                    <img src="../imagenes/macklemore.webp" width="200" height="150" alt="foto del cantante macklemore" class="img-arts">
                                    <figcaption class="texto2-not">Macklemore pública un tema sobre las protestas universitarias en Gaza</figcaption>
                                </figure>
                            </a>
                            <!-- Añadimos elemento font para insertar un texto dentro del contenedor y seguidamente cerramos todos los elementos y dentro del li  -->
                            <p class="text-arts-not">La nueva canción del rapero estadounidense <br> Macklemore sobre las protestas estudiantiles <br> contra la guerra de Gaza, 
                            'Hind's Hall', critica <br> a Estados Unidos por reprimir la disidencia y <br> por financiar la guerra de Israel contra Gaza.</p>
                        </div>
                    </article>
                </li>

                <!--Añadimos elemento li para insertar siguiente noticia-->
                <li>
                    <!--Añadimos elemento article para darle forma al li-->
                    <article id="contenedor-art3">
                        <!--Añadimos subcontenedor y añadimos el elemento a href para redirigir hacia la pagina indicada -->
                        <div>
                            <a href="https://www.aljazeera.com/news/2024/5/7/un-aid-urgencies-urge-israel-to-halt-rafah-assault-after-crossing-seized" class="href-estilos">
                                <!-- Añadimos elemento figure para añadir una imagen acompañada de un texto (figcaption)  -->
                                <figure>
                                    <img src="../imagenes/rafah1.webp" alt="Foto de gaza donde se ve humo por los bombardeos" width="200" height="150" class="img-arts">
                                    <figcaption class="texto2-not">La ONU y las urgencias de ayuda instan a Israel a detener el ataque a Rafah tras la toma del cruce</figcaption>
                                </figure>
                            </a>
                            <!-- Añadimos elemento font para insertar un texto dentro del contenedor y seguidamente cerramos todos los elementos y dentro del li  -->
                            <p class="text-arts-not">La ONU y las agencias de ayuda instan a Israel <br> a detener la incursión en Rafah, 
                                advirtiendo que <br> Gaza está al borde de la hambruna y necesita <br> ayuda humanitaria.</p>
                        </div>
                    </article>
                </li>

                <!--Añadimos elemento li para insertar siguiente noticia-->
                <li>
                    <!--Añadimos elemento article para darle forma al li-->
                    <article id="contenedor-art4">
                        <!--Añadimos subcontenedor y añadimos el elemento a href para redirigir hacia la pagina indicada -->
                        <div>
                            <a href="https://www.aljazeera.com/program/newsfeed/2024/5/9/gazas-seventh-mass-grave-discovered-at-al-shifa-hospital" class="href-estilos">
                                <!-- Añadimos elemento figure para añadir una imagen acompañada de un texto (figcaption)  -->
                                <figure>
                                    <img src="../imagenes/fosacomun11.jpeg" width="200" height="150" alt="foto de medicos llevando uno de los cadaveres envueltos encontrados en la fosa comun" class="img-arts">
                                    <figcaption class="texto2-not">Descubren la séptima fosa común de Gaza en el hospital de Al Shifa</figcaption>
                                </figure>
                            </a>
                            <!-- Añadimos elemento font para insertar un texto dentro del contenedor y seguidamente cerramos todos los elementos y dentro del li  -->
                            <p class="text-arts-not">Se descubrió una nueva fosa común en el <br> Hospital al-Shifa en Gaza, donde funcionarios <br> palestinos han estado investigando 
                                denuncias <br> de asesinatos de pacientes y personal por parte <br> de las fuerzas israelíes durante su ocupación.
                            </p>
                        </div>
                    </article>
                </li>
            </ul>
        </div>

        <!-- Añadimos etiqueta p para añadir un bloque gris desde css  -->
        <p  id="bloquegris"></p>

        <!-- Añadimos contenedor div y dentro abrimos elemento ul para añadir lista de noticias-->
        <div id="cont2-not">
            <ul class="estiloslista">
                <!--Añadimos elemento li para insertar primera noticia-->
                <li>
                    <!--Añadimos elemento article para darle forma al primer li-->
                    <article id="cont-not2">
                        <!--Añadimos subcontenedor y añadimos el elemento a href para redirigir hacia la pagina indicada -->
                        <div>
                            <a href="https://www.aljazeera.com/news/2024/5/8/hospitals-in-south-gaza-running-out-of-fuel-who-warns" class="href-estilos">
                                <!-- Añadimos elemento figure para añadir una imagen acompañada de un texto (figcaption)  -->
                                <figure>
                                    <img src="../imagenes/combustible1.webp" alt="foto hospital pacientes y medicos" width="300" height="250" class="foto2con">
                                    <figcaption class="titulo-2cont">Los hospitales del sur de Gaza se quedarán sin combustible <br>en tres días, advierte la OMS</figcaption>
                                </figure>
                            </a>
                            <!-- Añadimos elemento font para insertar un texto dentro del contenedor y seguidamente cerramos todos los elementos y dentro del li  -->
                            <p class="textcont2">
                                A los hospitales, que ya tienen un suministro crítico, sólo les quedan tres días de combustible, advierte el jefe de la OMS, ya que los envíos de ayuda también se vieron obstaculizados.
                            </p>
                        </div>
                    </article>
                </li>

                <!--Añadimos elemento li para insertar siguiente noticia-->
                <li>
                    <!--Añadimos elemento article para darle forma al li-->
                    <article id="cont-not3">
                        <!--Añadimos subcontenedor y añadimos el elemento a href para redirigir hacia la pagina indicada -->
                        <div>
                            <a href="https://www.aljazeera.com/program/newsfeed/2024/5/9/israeli-politician-calls-for-imprecise-missiles-in-gaza" class="href-estilos">
                                <!-- Añadimos elemento figure para añadir una imagen acompañada de un texto (figcaption)  -->
                                <figure>
                                    <img src="../imagenes/noticiaspol.png" alt="foto politicos hablando" width="300" height="250" class="foto2con">
                                    <figcaption class="titulo-2cont">Político israelí pide "misiles imprecisos" en Gaza</figcaption>
                                </figure>
                            </a>
                            <!-- Añadimos elemento font para insertar un texto dentro del contenedor y seguidamente cerramos todos los elementos y dentro del li  -->
                            <p class="textcont2">
                                Un miembro del parlamento israelí pidió el uso de "misiles imprecisos para derribar edificios" en Gaza, después de que Estados Unidos detuviera un envío de armas a Israel por su ataque en Rafah.
                            </p>
                        </div>
                    </article>
                </li>

                <!--Añadimos elemento li para insertar siguiente noticia-->
                <li>
                    <!--Añadimos elemento article para darle forma al li-->
                    <article id="cont-not4">
                        <!--Añadimos subcontenedor y añadimos el elemento a href para redirigir hacia la pagina indicada -->
                        <div>
                            <a href="https://www.aljazeera.com/program/newsfeed/2024/5/9/dutch-police-bulldoze-camp-to-break-up-anti-gaza-war-student-protest" class="href-estilos">
                                <!-- Añadimos elemento figure para añadir una imagen acompañada de un texto (figcaption)  -->
                                <figure>
                                    <img src="../imagenes/campamento.png" alt="foto campamento" width="300" height="250" class="foto2con">
                                    <figcaption class="titulo-2cont">
                                        La policía holandesa derriba un campamento para disolver <br> una protesta estudiantil contra la guerra de Gaza
                                    </figcaption>
                                </figure>
                            </a>
                            <!-- Añadimos elemento font para insertar un texto dentro del contenedor y seguidamente cerramos todos los elementos y dentro del li  -->
                            <p class="textcont2">La policía antidisturbios holandesa utilizó una topadora para disolver un campamento
                                de protesta contra la guerra de Gaza en la Universidad de Amsterdam después de que los estudiantes se negaran a irse.
                            </p>
                        </div>
                    </article>
                </li>

                <!--Añadimos elemento li para insertar siguiente noticia-->
                <li>
                    <!--Añadimos elemento article para darle forma al li-->
                    <article id="cont-not5">
                        <!--Añadimos subcontenedor y añadimos el elemento a href para redirigir hacia la pagina indicada -->
                        <div>
                            <a href="https://www.aljazeera.com/news/2024/5/8/in-the-us-south-pro-palestinians-face-crackdown-on-campus-and-in-streets-2" class="href-estilos">
                                <!-- Añadimos elemento figure para añadir una imagen acompañada de un texto (figcaption)  -->
                                <figure>
                                    <img src="../imagenes/eeuuman.webp" alt="protestas estados unidos" width="300" height="250" class="foto2con">
                                    <figcaption class="titulo-2cont">En el sur de Estados Unidos, los pro palestinos enfrentan represión <br>en las universidades y en las calles</figcaption>
                                </figure>
                            </a>
                            <!-- Añadimos elemento font para insertar un texto dentro del contenedor y seguidamente cerramos todos los elementos y el contenedor  -->
                            <p class="textcont2">
                                Las protestas pro palestinas se han extendido por todo Estados Unidos. En Nueva Orleans, se han enfrentado a represión tanto dentro como fuera del campus.
                            </p>
                        </div>
                    </article>
                </li>
            </ul>
        </div>
    </main>
      <!-- abrimos footer -->
      <footer class="footer1">
        <!-- Creamos section para nueva seccion y subcontenedor para añadir datos  -->
            <section class="containerfoot">
                <div class="footlogo"> 

                <!-- Añadimos etiqueta a href para insertar logo -->
                    <a href="file:///C:/Users/acer/Desktop/paginaweb/index.html" id="logoposicion">
                        <img src="../imagenes/logoolivo.png" width="100" height="100" alt="logo olivo con bandera palestina" class="logoolivo">
                    </a>

                    <!-- añadimos p para añadir texto -->
                    <p class="estilofoot">
                        © 2024 Red de medios PalestinaHoy
                    </p>
                    
                    <p class="estilofoot">
                        Producida por Rocío Aylen Gimenez Teti
                    </p>

                    <!-- añadimos elemento p mas href para añadir link mediante texto -->
                    <p class="estilofoot">
                            Datos:
                        <a href="https://shireen.ps/" target="_blank" class="datoslinks">
                            Shireen.ps 
                        </a>
                        <a href="https://www.aljazeera.com/tag/israel-palestine-conflict/" target="_blank" class="datoslinks">
                            Aljazeera
                        </a>
                    </p>
                    
                    <!-- añadimos texto y a continuacion añadimos div para añadir en este caso una lista de link mediante imagenes  -->
                    <p class="estilofoot">
                        Publicado: 11 de mayo de 2024 <br> <br>
                        Dirección: Av. Pío XII,2 <br> <br>
                        Contacto: 640576550 <br> <br>
                    </p>

                     <!-- añadimos contenedor para añadir dentro links de logos*/ -->
                    <div>
                        <a href="https://www.instagram.com/palestinahoy1/"><img src="../imagenes/instagram1.jpeg" width="50" height="50" alt="logotipo link instagram" class="logoinst"></a>
                        <a href="https://www.facebook.com/PalestinaHoy/?locale=es_ES"><img src="../imagenes/facebooklogo.png" width="50" height="50" alt="logotipo link facebook" class="logoface"></a>
                        <a href="https://t.me/s/PalestinaHoy"><img src="../imagenes/telegram.png" width="53" height="50" alt="logotipo link telegram" class="logotel"></a>
                    </div>
                    
                    
                    <!-- añadimos etiqueta span y href para añadir link de politica de terminos -->
                    <span style="margin-left: 180px;">
                        <a href="../index.html" data-tooltip-text="Politica de Privacidad" target="_blank" id="politicaprivacidad"  class="estilofoot">
                            Política de privacidad
                        </a>
                        
                        <span  class="estilofoot" id="barra">   |  </span>
                        <a href="../index.html" data-tooltip-text="Politica de cookies" target="_blank" id="politicacookies">
                            Política de cookies
                        </a>

                        <span role="link" tabindex="0" id="ampstart" class="estilofoot">
                            Preferencias de cookies
                        </span>
                    </span>
                </div>
            </section>
            <!-- cerramos contenedores y a continuacion cerramos footer -->
    </footer>
</body>