<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../Estilos-css/movilpc.css">
    <title>PALESTINAHOY</title>
</head>

<body id="bodyportfolio">
    <!-- Menu de navegación superior -->
    <header class="header2">
        <div class="header3">
            <a href="../index.html"> <img src="../imagenes/PALESTINAHOY1.png" width="250" height="70"  class="logopalestina" alt="logo pagina web"></a>
            <a href="../index.html" class="estilosmenu"><span class="contenidopc"> Inicio</span></a>
            <a href="noticias.html" class="estilosmenu"><span class="contenidopc">Últimas Noticias</span></a>
            <a href="galeria.html" class="estilosmenu"><span class="contenidopc">Fotos </span></a>
            <a href="portfolio.html" class="estilosmenu"><span class="contenidopc"> <strong>Mártires</strong></span></a>
            <a href="presupuesto.html" class="estilosmenu"><span class="contenidopc">Contacto</span></a>
        </div>

        <!-- Boton de inicio de sesion del menu de navegación superior -->
        <div class="iniciosesion">
            <a href="Registro.html" class="Registro"> <span class="textbutton"><strong>Iniciar sesión</strong></span></a>
        </div> 
    </header>
    <main>
        <!-- Añadimos contenedor para introducir texto -->
        <div id="titulo1">Mártires de Palestina</div>

        <!-- Añadimos contenedor para introducir texto -->
        <div id="textomartir">
            A pesar de que Israel asegure estar librando una guerra contra Hamás, <br> 35.152 palestinos, el 40% niños,
            han sido asesinados desde el pasado 7 de octubre, <br>
            cuando se produjo el ataque sorpresa de Hamás que ha desatado el asedio <br>y el bloqueo total de Israel sobre la Franja. <br> <br>
            A pesar de que Benjamin Netanyahu se refugie en su derecho a la defensa <br> y
            la declaración de guerra contra Hamás, las escuelas, los templos, <br>
            los hospitales, las tiendas y los hogares de los palestinos <br> están reduciéndose a escombros por las bombas y se ha convertido
            en realidad en un <br> “castigo colectivo”, como lo ha llamado la ONU, contra la población. <br> <br>
            Ninguno de ellos era un número, cada uno tenía un hogar, una historia, una familia y un sueño.
        </div>

        <!-- Aquí creamos un contenedor para insertar todas las fotos -->
        <section id="galeria">
           <!-- Aquí creamos un articulo para meter dentro del elemento figure una imagen + figcaption para acompañar la imagen con un texto breve -->
            <article class="articulosmart" id="posicionarticle1">
                <figure>
                    <img src="../imagenes/martir4.4.png" width="300" height="270" class="img-mart"> 
                    <figcaption class="text-mart">Periodista: <br> Hamza Wael Hamdan Al-Dahdouh <br> (27 años)</figcaption>
                </figure>
            </article>
            
            <!-- Aquí se irían repitiendo más elementos <article> con imagenes+texto -->

            <article class="articulosmart">
                <figure>
                    <img src="../imagenes/martir1.1.png" width="300" height="270" class="img-mart"> 
                    <figcaption class="text-mart"> Yazid Jihad Muhammad Al-Ghannam <br> (1 año)</figcaption>
                </figure>
            </article>

            <article class="articulosmart">
                <figure>
                    <img src="../imagenes/martir3.3.png" width="300" height="270" class="img-mart"> 
                    <figcaption class="text-mart">Periodista: <br> Issam Haider Al-Lulu <br> (69 años)</figcaption>
                </figure>
            </article>

            <article class="articulosmart">
                <figure>
                    <img src="../imagenes/martir2.2.png" width="300" height="270" class="img-mart"> 
                    <figcaption class="text-mart">Muhammad Murad Al-Deek <br> (16 años)</figcaption> 
                </figure>
            </article>

            <article class="articulosmart">
                <figure>
                    <img src="../imagenes/martir8.8.png" width="300" height="270" class="img-mart">
                     <figcaption class="text-mart">Yassin Abdullah Hassan Al-Asmar <br> (28 años)</figcaption>
                </figure>
            </article>

            <article class="articulosmart">
                <figure>
                    <img src="../imagenes/martir9.9.png" width="300" height="270" class="img-mart"> 
                    <figcaption class="text-mart">Awni Adel Awni Al-Dous <br> (12 años)</figcaption>
                </figure>
            </article>

            <article class="articulosmart">
                <figure>
                    <img src="../imagenes/martir19.png" width="300" height="270" class="img-mart"> 
                    <figcaption class="text-mart">Paramédico: <br> Ahmed Aziz Saeed Al-Madhoun <br> (37 años) </figcaption>
                </figure>
            </article>

            <article class="articulosmart">
                <figure>
                    <img src="../imagenes/martir5.5.png" width="300" height="270" class="img-mart"> 
                    <figcaption class="text-mart">Periodista: <br> Samer Khalil Salman Abu Daqqa <br> (45 años)</figcaption>
                </figure>
            </article>

            <article class="articulosmart">
                <figure>
                        <img src="../imagenes/martir12.png" width="300" height="270" class="img-mart">
                         <figcaption class="text-mart">Abdul Qadir Muhammad Al-Zubaidi <br> (61 años) </figcaption>
                </figure>
            </article>

            <article class="articulosmart">
                <figure>
                    <img src="../imagenes/martir6.6.png" width="300" height="270" class="img-mart"> 
                    <figcaption class="text-mart">Adam Samer Al Ghoul <br> (8 años) </figcaption>
                </figure>
            </article>

            <article class="articulosmart">
                <figure>
                    <img src="../imagenes/martir10.png" width="300" height="270" class="img-mart"> 
                    <figcaption class="text-mart"> Periodista: <br> Nermin Nasr Haboush <br> (36 años) </figcaption>
                </figure>
            </article>

            <article class="articulosmart">
                <figure>
                    <img src="../imagenes/martir11.png" width="300" height="270" class="img-mart"> 
                    <figcaption class="text-mart">Paramédico: <br> Ghadeer Muhammad Hussein Dawahid (30 años)</figcaption>
                </figure>
            </article>

            <article class="articulosmart">
                <figure>
                    <img src="../imagenes/martir13.png" width="300" height="270" class="img-mart"> 
                    <figcaption class="text-mart">Issa Ali Al-Qadi <br> (66 años)
                    </figcaption>
                </figure>
            </article>

            <article class="articulosmart">
                <figure>
                    <img src="../imagenes/martir17.png" width="300" height="270" class="img-mart"> 
                    <figcaption class="text-mart">Wadih Shadi Alian <br> (14 años) </figcaption>
                </figure>
            </article>

            <article class="articulosmart">
                <figure>
                    <img src="../imagenes/martir16.png" width="300" height="270" class="img-mart">
                     <figcaption class="text-mart">Selina Muhammad Shawqi Al-Rayes <br> (1 año)</figcaption>
                </figure>
            </article>

            <article class="articulosmart">
                <figure>
                    <img src="../imagenes/martir20.png" width="300" height="270" class="img-mart"> 
                    <figcaption class="text-mart"> Youssef Omar Mahmoud Zagdad <br> (11 años)</figcaption>
                </figure>
            </article>

            <article class="articulosmart">
                <figure>
                    <img src="../imagenes/martir15.png" width="300" height="270" class="img-mart">
                     <figcaption class="text-mart">Reem Ali Badwan (Alma del alma) <br> (4 años)</figcaption>
                </figure>
            </article>

            <article class="articulosmart">
                <figure>
                    <img src="../imagenes/martir-10.png" width="300" height="270" class="img-mart">
                     <figcaption class="text-mart">Ibrahim Al Hasayna (3 años) </figcaption>
                </figure>
            </article>

            <article class="articulosmart">
                <figure>
                    <img src="../imagenes/martir15.1.png" width="300" height="270" class="img-mart"> 
                    <figcaption class="text-mart">Issam Tariq Fadel Ghanem <br> (13 años)
                     </figcaption>
                </figure>
            </article>

            <article class="articulosmart">
                <figure>
                    <img src="../imagenes/martir21.png" width="300" height="270" class="img-mart"> 
                    <figcaption class="text-mart">Hind Rajab <br> (6 años)  </figcaption>
                </figure>
            </article>

            <article class="articulosmart">
                <figure>
                    <img src="../imagenes/martir-9.png" width="300" height="270" class="img-mart">
                     <figcaption class="text-mart">Lauren Al Koumi <br> (2 años) </figcaption>
                </figure>
            </article>

            <article class="articulosmart">
                <figure>
                    <img src="../imagenes/martir-1.png" width="300" height="270" class="img-mart">
                     <figcaption class="text-mart">Mahdi Saed Hamed Hassouna <br> (11 años) </figcaption>
                </figure>
            </article>

            <article class="articulosmart">
                <figure>
                    <img src="../imagenes/martir-2.png" width="300" height="270" class="img-mart">
                     <figcaption class="text-mart">Ali Muhammad Ali Abd Allah <br> (17 años) </figcaption>
                </figure>
            </article>

            <article class="articulosmart">
                <figure>
                    <img src="../imagenes/martir-3.png" width="300" height="270" class="img-mart">
                     <figcaption class="text-mart">Médico: <br> Adnan Ahmed Al-Barash <br> (49 años) </figcaption>
                </figure>
            </article>

            <article class="articulosmart">
                <figure>
                    <img src="../imagenes/martir-4.png" width="300" height="270" class="img-mart">
                     <figcaption class="text-mart">Nidal Mamoun Ali Abu Obaid<br> (20 años) </figcaption>
                </figure>
            </article>

            <article class="articulosmart">
                <figure>
                    <img src="../imagenes/martir-5.png" width="300" height="270" class="img-mart">
                     <figcaption class="text-mart">Jana Zuhair Madi <br> (13 años) </figcaption>
                </figure>
            </article>

            <article class="articulosmart">
                <figure>
                    <img src="../imagenes/martir-6.png" width="300" height="270" class="img-mart">
                     <figcaption class="text-mart"> Jamal Mahmoud Kafarma <br> (5 meses) </figcaption>
                </figure>
            </article>

            <article class="articulosmart">
                <figure>
                    <img src="../imagenes/martir-12.png" width="300" height="270" class="img-mart">
                     <figcaption class="text-mart">Periodista: <br>Nermin Qawwas<br> (28 años) </figcaption>
                </figure>
            </article>

            <article class="articulosmart">
                <figure>
                    <img src="../imagenes/martir-7.png" width="300" height="270" class="img-mart">
                     <figcaption class="text-mart"> Amal Al Durr <br> (6 años) </figcaption>
                </figure>
            </article>

            <article class="articulosmart">
                <figure>
                    <img src="../imagenes/martir14.png" width="300" height="270" class="img-mart"> 
                    <figcaption class="text-mart">Tariq Ali Badwan <br> (3 años) </figcaption>
                </figure>
            </article>

            <article class="articulosmart">
                <figure>
                    <img src="../imagenes/martir-8.png" width="300" height="270" class="img-mart">
                     <figcaption class="text-mart">Maria y Masa <br> (6 meses) </figcaption>
                </figure>
            </article>
            

            <article class="articulosmart">
                <figure>
                    <img src="../imagenes/martir-13.png" width="300" height="270" class="img-mart">
                     <figcaption class="text-mart"> Salam Khalil Muhammad Mima <br> (32 años) </figcaption>
                </figure>
            </article>

            <article class="articulosmart">
                <figure>
                    <img src="../imagenes/martir18.png" width="300" height="270" class="img-mart">
                     <figcaption class="text-mart">Paramédico: <br> Youssef Abdel Rahman Youssef Zaino <br> (35 años) </figcaption>
                </figure>
            </article>

            <article class="articulosmart">
                <figure>
                    <img src="../imagenes/martir15.5.png" width="300" height="270" class="img-mart">
                     <figcaption class="text-mart">Yihad Muhammad Al-Ghannam <br> (7 años) </figcaption>
                </figure>
            </article>

            <article class="articulosmart">
                <figure>
                    <img src="../imagenes/martir-11.png" width="300" height="270" class="img-mart">
                     <figcaption class="text-mart">Abdul Wahab Awni Abu Aoun <br> (25 años) </figcaption>
                </figure>
            </article>

            <article class="articulosmart">
                <figure>
                    <img src="../imagenes/martirr2.png" width="300" height="270" class="img-mart">
                     <figcaption class="text-mart">Ahmed Mohamed Samar <br> (13 años) </figcaption>
                </figure>
            </article>

            <article class="articulosmart">
                <figure>
                    <img src="../imagenes/martir15.3.png" width="300" height="270" class="img-mart">
                     <figcaption class="text-mart">Ruqaya Ahmed Odeh Jahalin <br> (4 años) </figcaption>
                </figure>
            </article>

            <article class="articulosmart">
                <figure>
                    <img src="../imagenes/martirr1.png" width="300" height="270" class="img-mart">
                     <figcaption class="text-mart">Saeed Raed Jaradat <br> (17 años) </figcaption>
                </figure>
            </article>

            <article class="articulosmart">
                <figure>
                    <img src="../imagenes/martir15.2.png" width="300" height="270" class="img-mart">
                     <figcaption class="text-mart">Khalil Moaz Khalil Ayyash<br> (2 años) </figcaption>
                </figure>
            </article>

        </section> <!-- Aquí cerramos el contenedor con todas las fotos -->
    </main>
    
      <!-- abrimos footer -->
      <footer class="footer1">
        <!-- Creamos section para nueva seccion y subcontenedor para añadir datos  -->
            <section class="containerfoot">
                <div class="footlogo"> 

                <!-- Añadimos etiqueta a href para insertar logo -->
                    <a href="file:///C:/Users/acer/Desktop/paginaweb/index.html" id="logoposicion">
                        <img src="../imagenes/logoolivo.png" width="100" height="100" alt="logo olivo con bandera palestina" class="logoolivo">
                    </a>

                    <!-- añadimos p para añadir texto -->
                    <p class="estilofoot">
                        © 2024 Red de medios PalestinaHoy
                    </p>
                    
                    <p class="estilofoot">
                        Producida por Rocío Aylen Gimenez Teti
                    </p>

                    <!-- añadimos elemento p mas href para añadir link mediante texto -->
                    <p class="estilofoot">
                            Datos:
                        <a href="https://shireen.ps/" target="_blank" class="datoslinks">
                            Shireen.ps 
                        </a>
                        <a href="https://www.aljazeera.com/tag/israel-palestine-conflict/" target="_blank" class="datoslinks">
                            Aljazeera
                        </a>
                    </p>
                    
                    <!-- añadimos texto y a continuacion añadimos div para añadir en este caso una lista de link mediante imagenes  -->
                    <p class="estilofoot">
                        Publicado: 11 de mayo de 2024 <br> <br>
                        Dirección: Av. Pío XII,2 <br> <br>
                        Contacto: 640576550 <br> <br>
                    </p>

                     <!-- añadimos contenedor para añadir dentro links de logos*/ -->
                    <div>
                        <a href="https://www.instagram.com/palestinahoy1/"><img src="../imagenes/instagram1.jpeg" width="50" height="50" alt="logotipo link instagram" class="logoinst"></a>
                        <a href="https://www.facebook.com/PalestinaHoy/?locale=es_ES"><img src="../imagenes/facebooklogo.png" width="50" height="50" alt="logotipo link facebook" class="logoface"></a>
                        <a href="https://t.me/s/PalestinaHoy"><img src="../imagenes/telegram.png" width="53" height="50" alt="logotipo link telegram" class="logotel"></a>
                    </div>
                    
                    
                    <!-- añadimos etiqueta span y href para añadir link de politica de terminos -->
                    <span style="margin-left: 180px;">
                        <a href="../index.html" data-tooltip-text="Politica de Privacidad" target="_blank" id="politicaprivacidad"  class="estilofoot">
                            Política de privacidad
                        </a>
                        
                        <span  class="estilofoot" id="barra">   |  </span>
                        <a href="../index.html" data-tooltip-text="Politica de cookies" target="_blank" id="politicacookies">
                            Política de cookies
                        </a>

                        <span role="link" tabindex="0" id="ampstart" class="estilofoot">
                            Preferencias de cookies
                        </span>
                    </span>
                </div>
            </section>
            <!-- cerramos contenedores y a continuacion cerramos footer -->
      </footer>

</body>
</html> 

