<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../Estilos-css/movilpc.css">
    <title>PALESTINAHOY</title>
</head>

<body>
    <!-- Menu de navegación superior -->
    <header class="header2">
        <div class="header3">
            <a href="../index.html"> <img src="../imagenes/PALESTINAHOY1.png" width="250" height="70"  class="logopalestina" alt="logo pagina web"></a>
            <a href="../index.html" class="estilosmenu"><span class="contenidopc"> Inicio</span></a>
            <a href="noticias.html" class="estilosmenu"><span class="contenidopc">Últimas Noticias</span></a>
            <a href="galeria.html" class="estilosmenu"><span class="contenidopc">Fotos </span></a>
            <a href="portfolio.html" class="estilosmenu"><span class="contenidopc">Mártires</span></a>
            <a href="presupuesto.html" class="estilosmenu"><span class="contenidopc">Contacto</span></a>
        </div>

        <!-- Boton de inicio de sesion del menu de navegación superior -->
        <div class="iniciosesion">
            <a href="Registro.html" class="Registro"> <span class="textbutton"> <strong> Iniciar sesión </strong></span></a>
        </div> 
    </header>
<!-- Añadiremos un formulario izquierdo y un contenedor derecho en el main -->
    <main id="maincontenidoarea" class="contenedor-form">
        <!-- Añadimos contenedor izquierdo  -->
        <div id="contenedorcuenta">
            <form id="registroform" action="../index.html">
                <h1 id="textoformu">
                    <!--  Titulo dentro del contenedor izquierdo -->
                    Enriquece tu experiencia <br> iniciando sesión o creando <br> una cuenta.
                </h1>

                    <!-- Creamos el texto y a continuacion el primer input del formulario -->
                <label>
                        Correo electrónico
                </label>
                        <!-- Input requerido rellenar para poder continuar  -->
                <div id="contenidoemail">
                    <input type="email"  name="email" aria-label="Correo electrónico" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+.[a-z]{2,}$" required aria-required="true" autocomplete="email" id="areacorreo">
                </div>

                    <!-- Creamos texto y a continuacion segundo input  -->
                <label>
                        Contraseña
                </label>
                            <!-- Input requerido rellenar para poder continuar -->
                <div id="contenidopassword">
                    <input type="password"  name="contraseña" aria-label="Contraseña" pattern="[A-Za-z0-9!?-]{8,12}" required aria-required="true" autocomplete="new-password" id="areapassword">
                </div>

                    <!-- Creamos texto de privacidad  -->
                <p id="privacidad">
                    Al continuar, aceptas los Términos y condiciones y la Política de privacidad.
                </p>

                        <!-- Añadimos boton de continuar para completar el registro  -->
                <input id="botoncontinuar" type="submit" value="Continuar">
                    <a href="index.html" class="Registro">Continuar</a>
                <!-- Cerramos formulario  -->
            </form>

            <!-- Añadimos contenedor al lado derecho del formulario -->
            <div id="textodosreg">
                <!--Añadimos titulo dentro del contenedor derecho  -->
            <h2 id="textinicio">
                Conéctese e interactúe con <br> PalestinaHoy <br> <br>
            </h2> <br>
                    <!-- Añadimos texto debajo del titulo  -->
            <p id="textoinicio2">
                Esto no es un muro de pago. Es gratis unirse. <br><br>
            </p>
                <!-- Añadimos titulos y texto de items  -->
            <h3 class="tituloitems">Notificaciones y alertas</h3>
            <p  class="textitems">
               Manténgase a la vanguardia con notificaciones oportunas que lo  <br>actualizan sobre los últimos acontecimientos y noticias cruciales que dan <br> forma a nuestro mundo.
            </p>

            <h3 class="tituloitems">
                Personalizado "Para ti" Sección</h3>
            <p  class="textitems">
               Sumérgete en una selección cuidadosamente personalizada de artículos y <br> vídeos alineados con tus preferencias.
            </p>

            <h3 class="tituloitems"> Leyendo lista</h3>
            <p  class="textitems">
                Cree una biblioteca personal de artículos e informes a los que pueda regresar.
            </p>

            <h3 class="tituloitems">Una cuenta de PalestinaHoy</h3>
            <p  class="textitems">
                Desbloquee el acceso a todos los servicios de Al Jazeera,<br> desde nuestros sitios web de noticias regionales y nuestra <br> aplicación móvil hasta documentales y la plataforma OTT de <br> Rocio, utilizando una sola cuenta
            </p>
            <!-- Cerramos contenedor -->
        </div>
        </div>
        <!--Cerramos main  -->
    </main>

      <!-- abrimos footer -->
      <footer class="footer1">
        <!-- Creamos section para nueva seccion y subcontenedor para añadir datos  -->
            <section class="containerfoot">
                <div class="footlogo"> 

                <!-- Añadimos etiqueta a href para insertar logo -->
                    <a href="file:///C:/Users/acer/Desktop/paginaweb/index.html" id="logoposicion">
                        <img src="../imagenes/logoolivo.png" width="100" height="100" alt="logo olivo con bandera palestina" class="logoolivo">
                    </a>

                    <!-- añadimos p para añadir texto -->
                    <p class="estilofoot">
                        © 2024 Red de medios PalestinaHoy
                    </p>
                    
                    <p class="estilofoot">
                        Producida por Rocío Aylen Gimenez Teti
                    </p>

                    <!-- añadimos elemento p mas href para añadir link mediante texto -->
                    <p class="estilofoot">
                            Datos:
                        <a href="https://shireen.ps/" target="_blank" class="datoslinks">
                            Shireen.ps 
                        </a>
                        <a href="https://www.aljazeera.com/tag/israel-palestine-conflict/" target="_blank" class="datoslinks">
                            Aljazeera
                        </a>
                    </p>
                    
                    <!-- añadimos texto y a continuacion añadimos div para añadir en este caso una lista de link mediante imagenes  -->
                    <p class="estilofoot">
                        Publicado: 11 de mayo de 2024 <br> <br>
                        Dirección: Av. Pío XII,2 <br> <br>
                        Contacto: 640576550 <br> <br>
                    </p>

                     <!-- añadimos contenedor para añadir dentro links de logos*/ -->
                    <div>
                        <a href="https://www.instagram.com/palestinahoy1/"><img src="../imagenes/instagram1.jpeg" width="50" height="50" alt="logotipo link instagram" class="logoinst"></a>
                        <a href="https://www.facebook.com/PalestinaHoy/?locale=es_ES"><img src="../imagenes/facebooklogo.png" width="50" height="50" alt="logotipo link facebook" class="logoface"></a>
                        <a href="https://t.me/s/PalestinaHoy"><img src="../imagenes/telegram.png" width="53" height="50" alt="logotipo link telegram" class="logotel"></a>
                    </div>
                    
                    
                    <!-- añadimos etiqueta span y href para añadir link de politica de terminos -->
                    <span style="margin-left: 180px;">
                        <a href="../index.html" data-tooltip-text="Politica de Privacidad" target="_blank" id="politicaprivacidad"  class="estilofoot">
                            Política de privacidad
                        </a>
                        
                        <span  class="estilofoot" id="barra">   |  </span>
                        <a href="../index.html" data-tooltip-text="Politica de cookies" target="_blank" id="politicacookies">
                            Política de cookies
                        </a>

                        <span role="link" tabindex="0" id="ampstart" class="estilofoot">
                            Preferencias de cookies
                        </span>
                    </span>
                </div>
            </section>
            <!-- cerramos contenedores y a continuacion cerramos footer -->
      </footer>

</body>
</html>